{% extends 'base/secretariat.html' %}
{% load static %}
{% block title %}
  Programs
{% endblock %}
{% block stylesheet %}
  {% comment %} <link rel="stylesheet" href="{% static 'style/secretariat.css/programs.css' %}" /> {% endcomment %}
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container">
      <div class="project-container">
        {% if projects %}
          {% for project in projects %}
          <div class="form-group">
            <label for="project_title" class="font-weight-bold">Program :</label>
            <div class="project_title" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">
                {{program.program_title}}
            </div>
          </div>

            <div class="form-group">
              <label for="project_title" class="font-weight-bold">Project Title:</label>
              <div class="project_title" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.project_title|capfirst }}</div>
            </div>

            <div class="form-group">
              <label for="summary" class="font-weight-bold">Executive Summary:</label>
              <div class="summary" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; text-align: justify; background-color: white;">{{ project.summary|capfirst }}</div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <label for="proponent" class="font-weight-bold">Proponent:</label>
                <div class="proponent" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.proponent|capfirst }}</div>
              </div>
              <div class="col-md-4">
                <label for="fund_source" class="font-weight-bold">Fund Source:</label>
                <div class="fund_source" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.fund_source }}</div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="approved_budget" class="font-weight-bold">Approved Budget (₱):</label>
                <div class="approved_budget" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.approved_budget }}</div>
              </div>
              <div class="col-md-4">
                <label for="downloaded_budget" class="font-weight-bold">Total Downloaded Budget (₱):</label>
                <div class="downloaded_budget" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.total_downloaded_budget }}</div>
              </div>
              <div class="col-md-4">
                <label for="number_years" class="font-weight-bold">Number of Year(s):</label>
                <div class="number_years" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.number_years }}</div>
              </div>
            </div>
            <hr />
            <div class="form-group row" style="border: 0px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">
              <div class="col-md-5">
                <label for="downloaded_budgets" class="font-weight-bold" style="color: green;">Downloaded Budgets (₱)</label>
              </div>
              <div class="col-md-5">
                <label for="downloaded_date" class="font-weight-bold" style="color: green;">Date</label>
              </div>
              <div class="col-md-2">
                <label for="year" class="font-weight-bold" style="color: green;">Year</label>
              </div>
              {% for budget in project.downloaded_budget.all %}
                <div class="col-md-5">
                  <div class="downloaded_budget" style="width: auto; height: auto; border-bottom: 1px solid #ddd; padding: 10px; ">{{ budget.amount }}</div>
                </div>
                <div class="col-md-5">
                  <div class="downloaded_date" style="width: auto; height: auto; border-bottom: 1px solid #ddd; padding: 10px;">{{ budget.downloaded_date }}</div>
                </div>
                <div class="col-md-2">
                  <div class="year" style="width: auto; height: auto; border-bottom: 1px solid #ddd; padding: 10px;">{{ budget.year }}</div>
                </div>
              {% endfor %}
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <label for="project_started" class="font-weight-bold">Project Started:</label>
                <div class="project_started" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.project_started }}</div>
              </div>
              <div class="col-md-3">
                <label for="project_ended" class="font-weight-bold">Project Ended:</label>
                <div class="project_ended" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.project_ended }}</div>
              </div>
              <div class="col-md-3">
                <label for="project_status" class="font-weight-bold">Project Status:</label>
                <div class="project_status" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">{{ project.project_status }}</div>
              </div>
              <div class="col-md-3">
                <label for="project_status" class="font-weight-bold">Project Type:</label>
                <div class="project_status" style="width: auto; height: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px; background-color: white;">
                  {% if project.project_type == 'ResearchNDev' %}
                    R&D
                  {% elif project.project_type == 'TechnoTrans' %}
                    Technology Transfer
                  {% elif project.project_type == 'NoneDegreeTraining' %}
                    None-Degree Training
                  {% else %}
                    Facility Enhancement
                  {% endif %}
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group row">
              <div class="col-md-12">
                <label for="attachments" class="font-weight-bold">Downloadable Attachments:</label>
                {% if project.attachments.all %}
                  {% for attachment in project.attachments.all %}
                    <div class="card" style="height: 50px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden; margin-bottom: 10px;">
                      <div class="card-body d-flex justify-content-between align-items-center" style="padding: 10px;">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="attachmentCheckbox{{ attachment.id }}" />
                          <span style="flex-grow: 1; margin-right: 10px;">{{ attachment.attachment_type }}</span>
                        </div>
                        <a href="{{ attachment.file.url }}" style="color: #12BC79; text-decoration: none;" download><i class="fas fa-download"></i></a>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p>No attachments available.</p>
                {% endif %}
                <button type="button" class="btn btn-primary" onclick="downloadSelectedAttachments()" style="font-size: 13px; padding: 5px;">Download Selected Attachments</button>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="card mb-2">No projects yet.</div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include 'accounts/secretariat/modals/programsModal/add_program.html' %}
{% endblock %}

{% block script %}
  <script>
    function downloadSelectedAttachments() {
      var selectedAttachments = document.querySelectorAll('input[type="checkbox"]:checked')
    
      if (selectedAttachments.length === 0) {
        alert('Please select at least one attachment.')
        return
      }
    
      var downloadLinks = Array.from(selectedAttachments).map(function (checkbox) {
        var attachmentCard = checkbox.closest('.card')
        var downloadLink = attachmentCard.querySelector('a[download][style="color: #12BC79; text-decoration: none;"]')
    
        if (downloadLink) {
          return downloadLink.href
        }
      })
    
      // Create temporary anchor elements and trigger their click to initiate downloads
      downloadLinks.forEach(function (link) {
        var tempLink = document.createElement('a')
        tempLink.href = link
        tempLink.setAttribute('download', '')
        document.body.appendChild(tempLink)
        tempLink.click()
        document.body.removeChild(tempLink)
      })
    }
  </script>
{% endblock %}
