{% extends 'base/index.html' %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/general.css/general.cmi.resources.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container" style="min-height: 50vh;">
      <div class="head-resources">
        <h2 style="font-weight: bolder;">My Resources</h2>
        <button class="add-resources-btn" data-toggle="modal" data-target="#addResourcesModal">+ Add Resources</button>
      </div>
      <hr>
      <div class="header d-flex justify-content-between align-items-center">
        <div class="sort">
          <label for="itemCount">Show:</label>
          <select id="itemCount" onchange="updateDisplay()">
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="all">All</option>
          </select>
        </div>
        <div class="search" style="margin-bottom: 5px;">
          <input type="text" id="input-search" placeholder="Search Title" style="height: 41px; width:400px; border-radius: 4px; border: white 1px solid ;">
          <button id="search_button" class="btn" type="button" style="background-color: #0C356A; color: white;">Search</button>
        </div>
      </div>

      <div class="row" id="resources-posts">
        <div class="col-md-12" id="to_filter">
            {% if resource %}
            {% for source in resource %}
              <div class="resource">
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="card-title">
                      <a href="{% url "general-individual-resources" id=source.resources_id %}" class="resources_title" id="resources_id_{{ source.resources_id }}" style="width: 850px;">{{ source.resources_title|capfirst }}</a>
                      <button type="button"  class="edit-resources-btn"
                        data-toggle="modal"
                        data-target="#editResourcesModal"
                        data-resourcesid="{{ source.resources_id }}"
                        data-editedtitle="{{ source.resources_title }}"
                        data-editeddescription="{{ source.resources_description }}"
                        data-currentselectedcommodity="
                        {% for commodities in source.commodity.all %}
                        {{ commodities.commodity_name|capfirst }}
                        {% endfor %}
                        "
                        data-currentselectedcmi="
                        {% for cmis in source.cmi.all %}
                        {{ cmis.cmi_name|capfirst }}
                        {% endfor %}
                        "
                        data-knowledge="
                        {% for knowledge in source.knowledge.all %}
                        {{knowledge.knowledge_title}}
                        {% endfor %}"
                        >
                        Request Edit Resources
                      </button>
                    </div>
                    <hr />
                    <div>
                      <p>{{ source.resources_description|capfirst }}</p>
                    </div>
                    <div>
                      <span style="display: block;">
                        <span style="font-weight: bold;">CMI:</span>
                        {% for cmis in source.cmi.all %}
                        <span style="background-color: #0174BE; padding: 0 7px; color: white; border-radius: 4px;">{{ cmis.cmi_name|capfirst }}</span>
                        {% endfor %}
                      </span>
                      <span style="display: block;">
                        <span style="font-weight: bold;">Commodity:</span>
                        {% for commodities in source.commodity.all %}
                        <span style="background-color: #0174BE; padding: 0 7px; color: white; border-radius: 4px;">{{ commodities.commodity_name|capfirst }}</span>
                        {% endfor %}
                      </span>
                      <span style="display: block;">
                        <span style="font-weight: bold;">Knowledge Resources:</span>
                        {% for knowledges in source.knowledge.all %}
                        <span style="background-color: #0174BE; padding: 0 7px; color: white; border-radius: 4px;">{{ knowledges.knowledge_title|capfirst }}</span>
                        {% endfor %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <span>No added resources yet!</span>
              {% endif %}
          </div>
      </div>
      <div class="row">
        <div class="pagination" style="width: 100%; display: flex; justify-content: center; color: black;">
          <button class="pagination-button" id="backBtn" onclick="movePage('back')" style="margin-right: 5px; color: white; background-color: #0C356A;">BACK</button>
          <button class="pagination-button" id="nextBtn" onclick="movePage('next')" style="background-color: #0C356A; color: white;">NEXT</button>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'accounts/general/modal/cmi/edit_resources.html' %}
  {% include 'accounts/general/modal/cmi/add_resources.html' %}
{% endblock %}

{% block script %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}

  <script>
    var selectedCommodities = [];
    var selectedCMIs = [];

    function updateCommodityTextarea() {
      $('#commodity_ids').val(selectedCommodities.join(','));
    }

    function updateCmiTextarea() {
      $('#cmi_ids').val(selectedCMIs.join(','));
    }

    $('#commodity').change(function () {
      var commodityId = $(this).val();
      if (commodityId && !$('#commodity option[value="' + commodityId + '"]').data('selected')) {
        $('#commodity option[value="' + commodityId + '"]').data('selected', true);
        selectedCommodities.push(commodityId);
        $('#selected-commodity').append('<li>' + $('#commodity option:selected').text() +
          ' <button class="remove-commodity-btn" data-commodity="' + commodityId +
          '" style="color: crimson; background-color: white; border: none; float: right;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
        updateCommodityTextarea();
      }
    });
  
    $('#selected-commodity').on('click', '.remove-commodity-btn', function () {
      var commodityId = $(this).data('commodity');
      selectedCommodities = selectedCommodities.filter(function (id) {
        return id !== commodityId;
      });
      $('#commodity option[value="' + commodityId + '"]').data('selected', false);
      $(this).closest('li').remove();

      // Remove the commodity ID from the textarea
      var commodityIds = $('#commodity_ids').val().split(',');
      commodityIds = commodityIds.filter(function (id) {
          return id !== commodityId.toString();
      });
      $('#commodity_ids').val(commodityIds.join(','));

      // Remove the commodity ID from the selectedCommodities array
      selectedCommodities = selectedCommodities.filter(function (id) {
          return id !== commodityId.toString();
      });
    });
  
    $('#cmi').change(function () {
      var cmiId = $(this).val();
      if (cmiId && !$('#cmi option[value="' + cmiId + '"]').data('selected')) {
        $('#cmi option[value="' + cmiId + '"]').data('selected', true);
        selectedCMIs.push(cmiId);
        $('#selected-cmi').append('<li>' + $('#cmi option:selected').text() +
          ' <button class="remove-cmi-btn" data-cmi="' + cmiId +
          '" style="color: crimson; background-color: white; border: none; float: right;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
        updateCmiTextarea();
      }
    });
  
    $('#selected-cmi').on('click', '.remove-cmi-btn', function () {
      var cmiId = $(this).data('cmi');
      selectedCMIs = selectedCMIs.filter(function (id) {
        return id !== cmiId;
      });
      $('#cmi option[value="' + cmiId + '"]').data('selected', false);
      $(this).closest('li').remove();
      
      // Remove the cmi ID from the textarea
      var cmiIds = $('#cmi_ids').val().split(',');
      cmiIds = cmiIds.filter(function (id) {
          return id !== cmiId.toString();
      });
      $('#cmi_ids').val(cmiIds.join(','));
    
      // Remove the cmi ID from the selectedCMIs array
      selectedCMIs = selectedCMIs.filter(function (id) {
          return id !== cmiId.toString();
      });
    });

    $(document).ready(function () {
      // Function to reset the Add Resources modal fields
      function resetAddResourcesModalFields() {
        $('#addResourcesModal').find('input[type="text"], input[type="date"], input[type="url"], select').val('');
        $('#addResourcesModal').find('textarea').val('');
        $('#addResourcesModal').find('#commodity_ids, #cmi_ids').val('');
        $('#addResourcesModal').find('#coordinates, #farm_contact, #trainings, #training_venue, #link, #fileUploadSection').hide();
        // Clear the content of the ul elements
        $('#selected-commodity').empty();
        $('#selected-cmi').empty();
      }
    
      // Call the reset function when the Close button is clicked
      $('#close-clear-modal').on('click', function () {
        resetAddResourcesModalFields();
        console.log("clear");
      });
    
      // Call the reset function when the modal is hidden
      $('#addResourcesModal').on('hidden.bs.modal', function () {
        resetAddResourcesModalFields();
      });
    });

    //edit

    var newselectedCommodities = [];
    var newselectedCMIs = [];

    function updateNewCommodityTextarea() {
      $('#new_commodity_ids').val(newselectedCommodities.join(','));
    }

    $('#edited_commodity').change(function () {
      var commodityId = $(this).val();
      if (commodityId && !$('#edited_commodity option[value="' + commodityId + '"]').data('selected')) {
          $('#edited_commodity option[value="' + commodityId + '"]').data('selected', true);
          newselectedCommodities.push(commodityId);
  
          // Create a new list item with flexbox layout
          var listItem = $('<li class="commodity-list-item" style="display: flex; justify-content: space-between;">' + 
              $('#edited_commodity option:selected').text() + 
              '<button class="remove-new-commodity-btn" data-commodity="' + commodityId +
              '" style="color: crimson; background-color: white; border: none;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
  
          // Append the list item to the list
          $('#new-selected-commodity').append(listItem);
  
          updateNewCommodityTextarea();
      }
    });
  
    $('#new-selected-commodity').on('click', '.remove-new-commodity-btn', function () {
      var commodityId = $(this).data('commodity');
      newselectedCommodities = newselectedCommodities.filter(function (id) {
          return id !== commodityId;
      });
      $('#edited_commodity option[value="' + commodityId + '"]').data('selected', false);
      $(this).closest('li').remove();
  
      // Remove the commodity ID from the textarea
      var commodityIds = $('#new_commodity_ids').val().split(',');
      commodityIds = commodityIds.filter(function (id) {
          return id !== commodityId.toString();
      });
      $('#new_commodity_ids').val(commodityIds.join(','));
  
      // Remove the commodity ID from the selectedCommodities array
      newselectedCommodities = newselectedCommodities.filter(function (id) {
          return id !== commodityId.toString();
      });
    });

    function updateNewCmiTextarea() {
      $('#new_cmi_ids').val(newselectedCMIs.join(','));
    }

    $('#edited_cmi').change(function () {
      var cmiId = $(this).val();
      if (cmiId && !$('#edited_cmi option[value="' + cmiId + '"]').data('selected')) {
          $('#edited_cmi option[value="' + cmiId + '"]').data('selected', true);
          newselectedCMIs.push(cmiId);

          // Create a new list item with flexbox layout
          var listItem = $('<li class="cmi-list-item" style="display: flex; justify-content: space-between;">' + 
              $('#edited_cmi option:selected').text() + 
              '<button class="remove-new-cmi-btn" data-cmi="' + cmiId +
              '" style="color: crimson; background-color: white; border: none;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');

          // Append the list item to the list
          $('#new-selected-cmi').append(listItem);

          updateNewCmiTextarea();
      }
    });

    $('#new-selected-cmi').on('click', '.remove-new-cmi-btn', function () {
      var cmiId = $(this).data('cmi');
      newselectedCMIs = newselectedCMIs.filter(function (id) {
          return id !== cmiId;
      });
      $('#edited_cmi option[value="' + cmiId + '"]').data('selected', false);
      $(this).closest('li').remove();

      // Remove the cmi ID from the textarea
      var cmiIds = $('#new_cmi_ids').val().split(',');
      cmiIds = cmiIds.filter(function (id) {
          return id !== cmiId.toString();
      });
      $('#new_cmi_ids').val(cmiIds.join(','));

      // Remove the cmi ID from the selectedCMIs array
      newselectedCMIs = newselectedCMIs.filter(function (id) {
          return id !== cmiId.toString();
      });
    });

    $(document).ready(function () {
       // Function to clear modal fields
      function checkModalFields(event) {
        // Check if there is data in the textarea for commodity and the selected
        var commodityTextArea = $('#editResourcesModal').find('#new_commodity_ids');
        var cmiTextArea = $('#editResourcesModal').find('#new_cmi_ids');

        if (commodityTextArea.val().trim() !== '' || cmiTextArea.val().trim() !== '') {
          // Raise a Swal fire alert
          Swal.fire({
            title: 'Warning!',
            text: 'Please delete the selected data before closing the modal.',
            icon: 'warning',
            confirmButtonText: 'OK'
          });

          // Prevent the modal from closing
          event.stopPropagation();
        } else {
          // Clear modal fields if no data in the textarea for commodity and the selected
          $('#editResourcesModal').find('input[type="text"]').val('');
          $('#editResourcesModal').find('form').attr('action', '');
          commodityTextArea.val('');
          cmiTextArea.val('');
          $('#editResourcesModal').find('#edited_commodity').val('');
          $('#editResourcesModal').find('#edited_cmi').val('');
          $('#editResourcesModal').find('#edited_knowledge').val('');
        }
      }
    
      // Event listener for the edit button
      $('.edit-resources-btn').on('click', function () {
        // Retrieve CMI details from the data attributes
        var resourcesId = $(this).data('resourcesid');
        var editedTitle = $(this).data('editedtitle');
        var editedDescription = $(this).data('editeddescription');
        var currentSelectedCommodity = $(this).data('currentselectedcommodity');
        var currentSelectedCmi = $(this).data('currentselectedcmi');
        var currentKnowledge = $(this).data('knowledge');


        //console.log("current Selected Commodity:", currentKnowledge );
        //console.log("current Selected Commodity:", currentSelectedCommodity);

        // Populate modal fields
        var editResourcesModal = $('#editResourcesModal');
        editResourcesModal.find('#resources_id').val(resourcesId);
        editResourcesModal.find('#edited_title').val(editedTitle);
        editResourcesModal.find('#edited_description').val(editedDescription);

        // Populate the span elements with the current knowledge
        var knowledgeArray = currentKnowledge.split(/[\n,]+/).map(function (knowledge) {
          return knowledge.trim();
        }).filter(Boolean);
        var contentHtml = '';

        //console.log("knowledgeArray:", knowledgeArray); // Log the array to check its content

        knowledgeArray.forEach(function(knowledge) {
          contentHtml += '<span style="background-color: #0174BE; padding: 5px; color: white; font-weight: bold; border-radius: 4px; margin-right: 5px;">' + knowledge + '</span>';
        });

        //console.log("contentHtml:", contentHtml); // Log the generated HTML to check its structure

        $('#current-selected-content-knowledge').html(contentHtml);
        

        // Populate the span elements with the current selected commodities and CMI
        var commodityArray = currentSelectedCommodity.split(/[\n,]+/).map(function (commodity) {
          return commodity.trim();
        }).filter(Boolean);
        var contentHtml = '';

        //console.log("commodityArray:", commodityArray); // Log the array to check its content

        commodityArray.forEach(function(commodity) {
          contentHtml += '<span style="background-color: #0174BE; padding: 5px; color: white; font-weight: bold; border-radius: 4px; margin-right: 5px;">' + commodity + '</span>';
        });

        //console.log("contentHtml:", contentHtml); // Log the generated HTML to check its structure

        $('#current-selected-content-commodity').html(contentHtml);

        // Populate the span elements with the current selected commodities and CMI
        var cmiArray = currentSelectedCmi.split(/[\n,]+/).map(function (cmi) {
          return cmi.trim();
        }).filter(Boolean);
        var contentHtml = '';

        //console.log("cmiArray:", cmiArray); // Log the array to check its content

        cmiArray.forEach(function(cmi) {
          contentHtml += '<span style="background-color: #0174BE; padding: 5px; color: white; font-weight: bold; border-radius: 4px; margin-right: 5px;">' + cmi + '</span>';
        });

        //console.log("contentHtml:", contentHtml); // Log the generated HTML to check its structure

        $('#current-selected-content-cmi').html(contentHtml);


        // Clear the content of the ul elements
        $('#new-selected-commodity').empty();
        $('#new-selected-cmi').empty();
    
        // Update form action attribute with the CMI ID
        editResourcesModal
          .find('form')
          .attr('action', '/request-edit/' + resourcesId + '/');
      });

      // Event listener for modal close button
      $('#close-modal').on('click', function (event) {
        checkModalFields(event);
      });
    });

    {% comment %} function removeIdFromTextareaAndArray(id, textareaSelector, dataArray) {
      // Remove the ID from the textarea
      var dataValues = $(textareaSelector).val().split(',');
      dataValues = dataValues.filter(function (value) {
        return value.trim() !== id.toString();
      });
      $(textareaSelector).val(dataValues.join(','));
    
      // Remove the ID from the array
      dataArray = dataArray.filter(function (value) {
        return value !== id.toString();
      });
    }

    $(document).ready(function() {
      $('#clear-all-btn').on('click', function() {
        var commodityTextArea = $('#editResourcesModal').find('#new_commodity_ids');
        var cmiTextArea = $('#editResourcesModal').find('#new_cmi_ids');

        console.log("Commodity textarea",commodityTextArea.val());
        console.log("Commodity textarea",cmiTextArea.val());

        // Clear the select elements
        $('#edited_commodity').val('');
        $('#edited_cmi').val('');
        $('#edited_knowledge').val('');
    
        // Clear the ul elements
        $('#new-selected-commodity').empty();
        $('#new-selected-cmi').empty();
    
        // Clear the textarea values
        $('#new_commodity_ids').val('');
        console.log("Cleared commodity: ", $('#new_commodity_ids').val(''));
        $('#new_cmi_ids').val('');

        // Remove the commodity ID from the textarea and array
        removeIdFromTextareaAndArray(commodityId, '#new_commodity_ids', newselectedCommodities);

        // Remove the CMI ID from the textarea and array
        removeIdFromTextareaAndArray(cmiId, '#new_cmi_ids', newselectedCMIs);

        // Remove the knowledge ID from the textarea and array
        removeIdFromTextareaAndArray(knowledgeId, '#new_knowledge_ids', newselectedKnowledges);

    
        console.log("Clear success!");

        Swal.fire({
          icon: 'success',
          title: 'Cleared successfully',
          text: 'You can close the modal now.'
        });

        // Check if there is no data
        if (
          $('#edited_commodity').val() === '' &&
          $('#edited_cmi').val() === '' &&
          $('#edited_knowledge').val() === '' &&
          $('#new-selected-commodity').is(':empty') &&
          $('#new-selected-cmi').is(':empty') &&
          $('#new_commodity_ids').val() === '' &&
          $('#new_cmi_ids').val() === ''
        ) {
          Swal.fire({
            icon: 'success',
            title: 'Cleared successfully',
            text: 'You can close the modal now.'
          });
        }
      });
    }); {% endcomment %}
  
    $(document).ready(function () {
      // Array of knowledge titles
      var KnowledgeTitles = ['Policies', 'Publications', 'Media', 'Products', 'Projects', 'Technologies', 'Flyers']
    
      // Event handler for the change event of the select element with id 'resources'
      $('#resources').change(function () {
        var selectedTitle = $('#resources option:selected').text()
    
        // Check if the selected title is in the KnowledgeTitles array
        if (KnowledgeTitles.includes(selectedTitle)) {
          // Hide file upload section
          $('#fileUploadSection').show()
          $('#coordinates').hide()
          $('#trainings').hide()
          $('#link').hide()
          $('#training_venue').hide()
          $('#farm_contact').hide()
        } else if (selectedTitle === 'Maps') {
          // Display coordinates section for Maps
          $('#coordinates').show()
          $('#farm_contact').show()
          // Hide file upload section for Maps
          $('#fileUploadSection').hide()
          $('#link').hide()
          $('#training_venue').hide()
        } else if (selectedTitle === 'Websites' || selectedTitle === 'News') {
          $('#link').show()
          // Hide both sections if not matching any title
          $('#coordinates').hide()
          $('#fileUploadSection').hide()
          $('#trainings').hide()
          $('#training_venue').hide()
          $('#farm_contact').hide()
        } else if (selectedTitle === 'Training/Seminars' || selectedTitle === 'Events') {
          $('#link').hide()
          // Hide both sections if not matching any title
          $('#coordinates').hide()
          $('#fileUploadSection').hide()
          $('#trainings').show()
          $('#training_venue').show()
          $('#farm_contact').hide()
        }else if (selectedTitle === 'Webinars') {
          $('#link').show()
          $('#trainings').show()
          // Hide both sections if not matching any title
          $('#coordinates').hide()
          $('#fileUploadSection').hide()
          $('#training_venue').hide()
          $('#farm_contact').hide()
        }else {
          // Hide both sections if not matching any title
          $('#coordinates').hide()
          $('#fileUploadSection').hide()
          $('#link').hide()
          $('#trainings').hide()
          $('#training_venue').hide()
          $('#farm_contact').hide()
        }
      })
    });

    document.addEventListener('DOMContentLoaded', function () {
      //Search bookmark
      const searchInput = document.getElementById("input-search");
      const searchButton = document.getElementById('search_button')
    
      // Add an event listener to the search input field for changes in value
      searchInput.addEventListener('input', function () {
        const searchTerm = searchInput.value.trim()
    
        if (searchTerm === '') {
          // If the search input is empty, display all discussion posts
          const discussionPosts = document.querySelectorAll('.resource')
          discussionPosts.forEach((post) => {
            post.style.display = 'block'
          })
        }
      })
    
      // Function to handle search functionality
      const performSearch = () => {
        const searchTerm = searchInput.value.trim()
        console.log('Search Term', searchTerm)
    
        fetch("{% url 'search' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
            search_term: searchTerm
          })
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok.')
            }
            return response.json()
          })
          .then((data) => {
            console.log('Search term sent:', searchTerm)
            console.log('Search terms fetched:', data.search_terms)
    
            if (data.search_terms && data.search_terms.length > 0) {
              const combinedTerms = data.search_terms.join(' ') // Combine terms into a sentence
              filterDiscussionsBySearch(combinedTerms)
            } else {
              if (!data || (data && !data.search_terms)) {
                // Display SweetAlert when no data or search terms are received or they are empty
                Swal.fire({
                  title: 'No discussions found',
                  text: `There are no discussions about "${searchTerm}"`,
                  icon: 'info',
                  confirmButtonText: 'OK'
                })
                window.location.reload();
                console.error('No search terms received or empty.')
              }
            }
          })
          .catch((error) => {
            console.error('There was an error with the request:', error)
          })
      }
    
      // Event listener for the Enter key press in the search input field
      searchInput.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          performSearch()
        }
      })
    
      // Event listener for the search button click
      searchButton.addEventListener('click', performSearch)
        
      function filterDiscussionsBySearch(searchTermsSentence) {
        const searchTerms = searchTermsSentence.split(' ');
      
        // Logic for filtering discussions based on search terms
        const discussionPosts = document.querySelectorAll('.resource');
        const foundDiscussions = Array.from(discussionPosts).filter((post) => {
          const title = post.querySelector('.resources_title').innerText.toLowerCase();
      
          return searchTerms.some((term) => title.includes(term));
        });
      
        if (foundDiscussions.length === 0) {
          // Display SweetAlert when no discussions match the search terms
          Swal.fire({
            title: 'No discussions found',
            text: `There are no discussions matching the search terms`,
            icon: 'info',
            confirmButtonText: 'OK'
          });
      
          console.error('No discussions found matching the search terms.');
          return; // Exit the function to prevent hiding existing posts
        }
      
        discussionPosts.forEach((post) => {
          const found = foundDiscussions.includes(post);
          post.style.display = found ? 'block' : 'none';
        });
      }
    
      var currentPage = 1;
      var postDisplay;
    
      function updateDisplay() {
        postDisplay = parseInt(document.getElementById('itemCount').value);
        showPosts();
      }
    
      function movePage(direction) {
        switch (direction) {
          case 'back':
            if (currentPage > 1) {
              currentPage--;
              showPosts();
            }
            break;
          case 'next':
            currentPage++;
            showPosts();
            break;
          default:
            break;
        }
      }
    
      function showPosts() {
        var posts = document.querySelectorAll('#to_filter .resource');
        var totalPosts = posts.length;
    
        posts.forEach(function (post, index) {
          switch (true) {
            case postDisplay === 'all':
              post.style.display = 'block';
              break;
            case index >= (currentPage - 1) * postDisplay && index < currentPage * postDisplay:
              post.style.display = 'block';
              break;
            default:
              post.style.display = 'none';
              break;
          }
        });
    
        switch (true) {
          case postDisplay === 'all':
            document.getElementById('backBtn').disabled = true;
            document.getElementById('nextBtn').disabled = true;
            console.log('All Post displayed successfully');
            break;
          default:
            document.getElementById('backBtn').disabled = currentPage === 1;
            document.getElementById('nextBtn').disabled = (currentPage * postDisplay) >= totalPosts;
            break;
        }
    
        // Log additional information for debugging
        console.log("totalPosts:", totalPosts);
        console.log("postDisplay:", postDisplay);
      }
    
      // Call updateDisplay function on page load to set the default value
      window.onload = function () {
        updateDisplay(); // Call the function to update the displayed posts based on the initial selected value
      };
    
      // Attach updateDisplay function to the select element's onchange event
      document.getElementById('itemCount').onchange = updateDisplay;
    
      // Attach movePage function to the button click events
      document.getElementById('backBtn').onclick = function () {
        movePage('back');
      };
    
      document.getElementById('nextBtn').onclick = function () {
        movePage('next');
      };
    
    });

  </script>
{% endblock %}
