{% extends 'base/index.html' %}
{% load static %}
{% block stylesheet %}
  <style>
    .head-technology,
    .card-title {
      display: flex;
      justify-content: space-between;
      /* Aligns items to the start and end of the container */
      align-items: center;
      /* Centers items vertically */
    }
    
    .add-technology-btn,
    .edit-technology-btn,
    .pagination-button {
      border-radius: 5px;
      /* Adds rounded corners to the button */
      background-color: #0c356a;
      /* Sets the background color to green */
      color: white;
      /* Sets the text color to white */
      padding: 2px 7px;
      /* Adds padding to the button */
      border: none;
      /* Removes the button border */
      cursor: pointer;
      /* Changes the cursor to a pointer on hover */
      font-weight: bold;
      width: 200px;
    }

    /* Icon hover effect */
    .remove-commodity-btn:hover .fa,
    .remove-cmi-btn:hover .fa {
      color: crimson;
    }
  </style>
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container" style="min-height: 50vh;">
      <div class="head-technology">
        <h2 style="font-weight: bolder;">Technology Generated</h2>
        <button class="add-technology-btn" data-toggle="modal" data-target="#addTechnologyModal">+ Add Technology</button>
      </div>
      <hr />
      <div class="header d-flex justify-content-between align-items-center">
        <div class="sort">
          <label for="itemCount">Show:</label>
          <select id="itemCount" onchange="updateDisplay()">
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="all">All</option>
          </select>
        </div>
        <div class="search" style="margin-bottom: 5px;">
          <input type="text" id="input-search" placeholder="Input Title" style="height: 41px; width:400px; border-radius: 4px; border: white 1px solid ;" />
          <button id="search_button" class="btn" type="button" style="background-color: #0C356A; color: white;">Search</button>
        </div>
      </div>

      <div class="row" id="technology-posts">
        <div class="col-md-12" id="to_filter">
          {% if technology %}
            {% for tech in technology %}
              <div class="technology">
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="card-title">
                      <a href="{% url 'ind_tech_gen' id=tech.tech_id %}" class="tech_title" id="technology_id_{{ tech.tech_id }}" style="width: 850px;">{{ tech.tech_title|capfirst }}</a>
                      {% comment %} <button type="button"
                        class="edit-resources-btn"
                        data-toggle="modal"
                        data-target="#editResourcesModal"
                        data-resourcesid="{{ source.resources_id }}"
                        data-editedtitle="{{ source.resources_title }}"
                        data-editeddescription="{{ source.resources_description }}"
                        data-currentselectedcommodity="
                        {% for commodities in source.commodity.all %}
                          {{ commodities.commodity_name|capfirst }}
                        {% endfor %}
                        "
                        data-currentselectedcmi="
                        {% for cmis in source.cmi.all %}
                          {{ cmis.cmi_name|capfirst }}
                        {% endfor %}
                        "
                        data-knowledge="
                        {% for knowledge in source.knowledge.all %}
                          {{ knowledge.knowledge_title }}
                        {% endfor %}">
                        Request Edit Resources
                      </button> {% endcomment %}
                    </div>
                    <hr />
                    <div>
                      <p>{{ tech.description|capfirst }}</p>
                    </div>
                    <div>
                      <span style="display: block;">
                        <span style="font-weight: bold;">CMI:</span>
                        {% for cmis in tech.cmi.all %}
                          <span style="background-color: #0174BE; padding: 0 7px; color: white; border-radius: 4px;">{{ cmis.cmi_name|capfirst }}</span>
                        {% endfor %}
                      </span>
                      <span style="display: block;">
                        <span style="font-weight: bold;">Commodity:</span>
                        {% for commodities in tech.commodity.all %}
                          <span style="background-color: #0174BE; padding: 0 7px; color: white; border-radius: 4px;">{{ commodities.commodity_name|capfirst }}</span>
                        {% endfor %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <span>No added technology yet!</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="pagination" style="width: 100%; display: flex; justify-content: center; color: black;">
          <button class="pagination-button" id="backBtn" onclick="movePage('back')" style="margin-right: 5px; color: white; background-color: #0C356A;">BACK</button>
          <button class="pagination-button" id="nextBtn" onclick="movePage('next')" style="background-color: #0C356A; color: white;">NEXT</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'accounts/general/modal/cmi/tech_generated/add_tech_gen.html' %}
{% endblock %}

{% block script %}
  <script>
    var selectedCommodities = []
    var selectedCMIs = []
    
    function updateCommodityTextarea() {
      $('#commodity_ids').val(selectedCommodities.join(','))
    }
    
    function updateCmiTextarea() {
      $('#cmi_ids').val(selectedCMIs.join(','))
    }
    
    $('#commodity').change(function () {
      var commodityId = $(this).val()
      if (commodityId && !$('#commodity option[value="' + commodityId + '"]').data('selected')) {
        $('#commodity option[value="' + commodityId + '"]').data('selected', true)
        selectedCommodities.push(commodityId)
        $('#selected-commodity').append('<li>' + $('#commodity option:selected').text() + ' <button class="remove-commodity-btn" data-commodity="' + commodityId + '" style="color: green; background-color: white; border: none; float: right;"><i class="fa fa-trash" ></i></button></li>')
        updateCommodityTextarea()
      }
    })
    
    $('#selected-commodity').on('click', '.remove-commodity-btn', function () {
      var commodityId = $(this).data('commodity')
      selectedCommodities = selectedCommodities.filter(function (id) {
        return id !== commodityId
      })
      $('#commodity option[value="' + commodityId + '"]').data('selected', false)
      $(this).closest('li').remove()
    
      // Remove the commodity ID from the textarea
      var commodityIds = $('#commodity_ids').val().split(',')
      commodityIds = commodityIds.filter(function (id) {
        return id !== commodityId.toString()
      })
      $('#commodity_ids').val(commodityIds.join(','))
    
      // Remove the commodity ID from the selectedCommodities array
      selectedCommodities = selectedCommodities.filter(function (id) {
        return id !== commodityId.toString()
      })
    })
    
    $('#cmi').change(function () {
      var cmiId = $(this).val()
      if (cmiId && !$('#cmi option[value="' + cmiId + '"]').data('selected')) {
        $('#cmi option[value="' + cmiId + '"]').data('selected', true)
        selectedCMIs.push(cmiId)
        $('#selected-cmi').append('<li>' + $('#cmi option:selected').text() + ' <button class="remove-cmi-btn" data-cmi="' + cmiId + '" style="color: green; background-color: white; border: none; float: right;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>')
        updateCmiTextarea()
      }
    })
    
    $('#selected-cmi').on('click', '.remove-cmi-btn', function () {
      var cmiId = $(this).data('cmi')
      selectedCMIs = selectedCMIs.filter(function (id) {
        return id !== cmiId
      })
      $('#cmi option[value="' + cmiId + '"]').data('selected', false)
      $(this).closest('li').remove()
    
      // Remove the cmi ID from the textarea
      var cmiIds = $('#cmi_ids').val().split(',')
      cmiIds = cmiIds.filter(function (id) {
        return id !== cmiId.toString()
      })
      $('#cmi_ids').val(cmiIds.join(','))
    
      // Remove the cmi ID from the selectedCMIs array
      selectedCMIs = selectedCMIs.filter(function (id) {
        return id !== cmiId.toString()
      })
    })
    
    // Function to reset modal fields
    function resetModalFields() {
      // Clear input fields
      document.getElementById('tech_title').value = ''
      document.getElementById('description').value = ''
      document.getElementById('generator').value = ''
      document.getElementById('commodity').selectedIndex = 0
      document.getElementById('cmi').selectedIndex = 0
      document.getElementById('selected-commodity').innerHTML = ''
      document.getElementById('selected-cmi').innerHTML = ''
      document.getElementById('commodity_ids').value = ''
      document.getElementById('cmi_ids').value = ''
    }
    
    // Event listener for close button
    document.getElementById('close-clear-modal').addEventListener('click', function () {
      resetModalFields() // Reset modal fields when close button is clicked
    })

    document.addEventListener('DOMContentLoaded', function () {
      //Search bookmark
      const searchInput = document.getElementById("input-search");
      const searchButton = document.getElementById('search_button')
    
      // Add an event listener to the search input field for changes in value
      searchInput.addEventListener('input', function () {
        const searchTerm = searchInput.value.trim()
    
        if (searchTerm === '') {
          // If the search input is empty, display all discussion posts
          const technologyPosts = document.querySelectorAll('.technology')
          technologyPosts.forEach((post) => {
            post.style.display = 'block'
          })
        }
      })
    
      // Function to handle search functionality
      const performSearch = () => {
        const searchTerm = searchInput.value.trim()
        console.log('Search Term', searchTerm)
    
        fetch("{% url 'search' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
            search_term: searchTerm
          })
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok.')
            }
            return response.json()
          })
          .then((data) => {
            console.log('Search term sent:', searchTerm)
            console.log('Search terms fetched:', data.search_terms)
    
            if (data.search_terms && data.search_terms.length > 0) {
              const combinedTerms = data.search_terms.join(' ') // Combine terms into a sentence
              filterDiscussionsBySearch(combinedTerms)
            } else {
              if (!data || (data && !data.search_terms)) {
                // Display SweetAlert when no data or search terms are received or they are empty
                Swal.fire({
                  title: 'No discussions found',
                  text: `There are no discussions about "${searchTerm}"`,
                  icon: 'info',
                  confirmButtonText: 'OK'
                })
                window.location.reload();
                console.error('No search terms received or empty.')
              }
            }
          })
          .catch((error) => {
            console.error('There was an error with the request:', error)
          })
      }
    
      // Event listener for the Enter key press in the search input field
      searchInput.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          performSearch()
        }
      })
    
      // Event listener for the search button click
      searchButton.addEventListener('click', performSearch)
        
      function filterDiscussionsBySearch(searchTermsSentence) {
        const searchTerms = searchTermsSentence.split(' ');
      
        // Logic for filtering discussions based on search terms
        const technologyPosts = document.querySelectorAll('.technology');
        const foundDiscussions = Array.from(technologyPosts).filter((post) => {
          const title = post.querySelector('.tech_title').innerText.toLowerCase();
      
          return searchTerms.some((term) => title.includes(term));
        });
      
        if (foundDiscussions.length === 0) {
          // Display SweetAlert when no discussions match the search terms
          Swal.fire({
            title: 'No discussions found',
            text: `There are no discussions matching the search terms`,
            icon: 'info',
            confirmButtonText: 'OK'
          });
      
          console.error('No discussions found matching the search terms.');
          return; // Exit the function to prevent hiding existing posts
        }
      
        technologyPosts.forEach((post) => {
          const found = foundDiscussions.includes(post);
          post.style.display = found ? 'block' : 'none';
        });
      }
    
      var currentPage = 1;
      var postDisplay;
    
      function updateDisplay() {
        postDisplay = parseInt(document.getElementById('itemCount').value);
        showPosts();
      }
    
      function movePage(direction) {
        switch (direction) {
          case 'back':
            if (currentPage > 1) {
              currentPage--;
              showPosts();
            }
            break;
          case 'next':
            currentPage++;
            showPosts();
            break;
          default:
            break;
        }
      }
    
      function showPosts() {
        var posts = document.querySelectorAll('#to_filter .resource');
        var totalPosts = posts.length;
    
        posts.forEach(function (post, index) {
          switch (true) {
            case postDisplay === 'all':
              post.style.display = 'block';
              break;
            case index >= (currentPage - 1) * postDisplay && index < currentPage * postDisplay:
              post.style.display = 'block';
              break;
            default:
              post.style.display = 'none';
              break;
          }
        });
    
        switch (true) {
          case postDisplay === 'all':
            document.getElementById('backBtn').disabled = true;
            document.getElementById('nextBtn').disabled = true;
            console.log('All Post displayed successfully');
            break;
          default:
            document.getElementById('backBtn').disabled = currentPage === 1;
            document.getElementById('nextBtn').disabled = (currentPage * postDisplay) >= totalPosts;
            break;
        }
    
        // Log additional information for debugging
        console.log("totalPosts:", totalPosts);
        console.log("postDisplay:", postDisplay);
      }
    
      // Call updateDisplay function on page load to set the default value
      window.onload = function () {
        updateDisplay(); // Call the function to update the displayed posts based on the initial selected value
      };
    
      // Attach updateDisplay function to the select element's onchange event
      document.getElementById('itemCount').onchange = updateDisplay;
    
      // Attach movePage function to the button click events
      document.getElementById('backBtn').onclick = function () {
        movePage('back');
      };
    
      document.getElementById('nextBtn').onclick = function () {
        movePage('next');
      };
    
    });
  </script>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
