{% extends 'base/index.html' %}
{% load static %}
{% block stylesheet %}
  <style>
    .search-box {
      width: 100%;
      max-width: 1150px;
      margin: 0 auto 10px 0;
      position: relative;
    }
    
    .search-input {
      width: 100%;
      padding: 10px 50px 10px 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .search-button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background: none;
      border: none;
      outline: none;
      color: #333;
      padding: 0;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .search-button i {
      font-size: 18px;
    }
    
    .remove-technology-btn:hover .fa {
      color: crimson;
    }

    .head-tech {
      display: flex;
      justify-content: space-between;
      /* Aligns items to the start and end of the container */
      align-items: center;
      /* Centers items vertically */
    }

    .view-tech-list-btn {
      border-radius: 5px;
      /* Adds rounded corners to the button */
      background-color: #0c356a;
      /* Sets the background color to green */
      color: white;
      /* Sets the text color to white */
      padding: 2px 7px;
      /* Adds padding to the button */
      border: none;
      /* Removes the button border */
      cursor: pointer;
      /* Changes the cursor to a pointer on hover */
      font-weight: bold;
      width: 200px;
    }
  </style>
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container" style="min-height: 50vh;">
      <div class="head-tech">
        <h3 style="font-weight:bold;" id="head">TECHNOLOGY ADOPTOR MAP</h3>
        <button class="view-tech-list-btn" id="tech-list">View Adoptor List</button>
      </div>
      <hr style="color: black;" />
      <div class="search-map" id="search-map">
        <div class="search-box">
          <input type="text" class="search-input" id="search-input" placeholder="Input address" />
          <button class="search-button" id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="map-container">
          <div class="map" id="adaptor-map" style="width: 100%; height: 600px;"></div>
        </div>
      </div>

      <div class="adoptor-list" id="adoptor-list" >
        <table id="adoptorsTable" class="adoptors-table table table-bordered">
          <thead style="color: #fff; font-size: 13px; background-color: #3B3B3B; font-weight: bolder;">
            <tr>
              <th style="width: 8px;">ID</th>
              <th>Name</th>
              <th >Email</th>
              <th >Contact</th>
              <th >Address</th>
              <th >Coordinates</th>
              <th style="width: auto;">Actions</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px; background-color: white;">
            {% for adaptor in adaptors %}
              <tr>
                <td>{{ adaptor.adaptor_id }}</td>
                <td>
                  {{ adaptor.first_name|capfirst }} 
                  {% if adaptor.middle_name %}
                  {{ adaptor.middle_name|capfirst }}
                  {% else %}

                  {% endif %}
                  {{ adaptor.last_name|capfirst }}
                </td>
                <td>{{ adaptor.email }}</td>
                <td>{{ adaptor.contact_num }}</td>
                <td>{{ adaptor.address }}</td>
                <td>{{ adaptor.latitude }}, {{ adaptor.longitude }}</td>
                <td>
                  <div style="display: flex;">
                    <button type="button" class="btn btn-primary btn-sm view-btn small-btn" data-toggle="modal" data-target="#viewAdaptorInfoModal{{ adaptor.adaptor_id }}" style="margin-left: 2px;"><i class="fa-solid fa-eye"></i></button>
                  </div>
                </td>
              </tr>
              {% include 'accounts/general/modal/cmi/tech_adaptor/view_tech_adap_list.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% include 'accounts/general/modal/cmi/tech_adaptor/add_tech_adap.html' %}
  {% include 'accounts/general/modal/cmi/tech_adaptor/view_tech_adap.html' %}
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.js"></script>

  <script>
    var selectedTechnologies = []
    
    function updateTechnologyTextarea() {
      $('#tech_ids').val(selectedTechnologies.join(','))
    }
    
    $(document).ready(function () {
      $('#technology').change(function () {
        var technologyId = $(this).val()
        if (technologyId && !$('#technology option[value="' + technologyId + '"]').data('selected')) {
          $('#technology option[value="' + technologyId + '"]').data('selected', true)
          selectedTechnologies.push(technologyId)
          $('#selected-technology').append('<li>' + $('#technology option:selected').text() + ' <button class="remove-technology-btn" data-technology="' + technologyId + '" style="color: green; background-color: white; border: none; float: right;"><i class="fa fa-trash" aria-hidden="true"></i></button></li>')
          updateTechnologyTextarea()
        }
      })
    
      $('#selected-technology').on('click', '.remove-technology-btn', function () {
        var technologyId = $(this).data('technology')
        selectedTechnologies = selectedTechnologies.filter(function (id) {
          return id !== technologyId
        })
        $('#technology option[value="' + technologyId + '"]').data('selected', false)
        $(this).closest('li').remove()
    
        // Remove the technology ID from the textarea
        var techIds = $('#tech_ids').val().split(',')
        techIds = techIds.filter(function (id) {
          return id !== technologyId.toString()
        })
        $('#tech_ids').val(techIds.join(','))
    
        // Remove the technology ID from the selectedTechnologies array
        selectedTechnologies = selectedTechnologies.filter(function (id) {
          return id !== technologyId.toString()
        })
      })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      var map = L.map('adaptor-map', { zoomControl: false }).setView([7.371375, 124.50273], 8)
    
      // OpenStreetMap tile layer
      var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
      }).addTo(map)
    
      // Google Streets and Hybrid layers
      const createGoogleLayer = (type) => {
        return L.tileLayer(`https://{s}.google.com/vt/lyrs=${type}&x={x}&y={y}&z={z}`, {
          maxZoom: 20,
          subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        })
      }
    
      const googleStreets = createGoogleLayer('m')
      const googleHybrid = createGoogleLayer('s,h')
    
      // Add base maps to a control
      var baseMaps = {
        OpenStreetMap: tileLayer,
        'Google Streets': googleStreets,
        'Google Hybrid': googleHybrid
      }
    
      L.control.layers(baseMaps).addTo(map)
    
      // Create a control with custom icons for zoom in and zoom out
      var zoomControl = L.control.zoom({
        position: 'topright',
        zoomInText: '+',
        zoomOutText: '-'
      })
    
      // Add the zoom control to the map
      map.addControl(zoomControl)
    
      // Marker management
      var marker // Declare marker variable globally to be accessible in the scope of the map click event.
    
      map.on('click', function (e) {
        var latlng = e.latlng
    
        if (marker) {
          marker.setLatLng(latlng)
        } else {
          marker = L.marker(latlng).addTo(map)
        }
    
        // Swal fire alert for tagging the location
        Swal.fire({
          title: 'Do you want to tag this location?',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: 'Yes',
          denyButtonText: 'No'
        }).then((result) => {
          if (result.isConfirmed) {
            document.getElementById('latitude').value = latlng.lat.toFixed(8)
            document.getElementById('longitude').value = latlng.lng.toFixed(8)
            $('#addAdaptorModal').modal('show')
          } else if (result.isDenied) {
            Swal.fire('Location not tagged', '', 'info')
          }
        })
      })

      var taggingEnabled = false // Flag to control tagging
    
      // Function to add a custom control button on the map for tagging
      var toggleTaggingControl = L.control({ position: 'topright' })
      toggleTaggingControl.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'leaflet-control leaflet-bar'),
          toggleBtn = L.DomUtil.create('a', '', div)
        toggleBtn.innerHTML = '<i class="fa fa-tag"></i>' // Using Font Awesome icon for visual appeal
        toggleBtn.href = '#'
        toggleBtn.title = 'Toggle location tagging' // Tooltip text
        toggleBtn.onclick = function (e) {
          e.preventDefault() // Prevent the default link behavior
          event.stopPropagation(); // Stop the event propagation to prevent the map from receiving the click event
          if (!taggingEnabled) {
            taggingEnabled = true
            if (marker) {
              handleLocationTagging(marker.getLatLng())
            }
          } else {
            taggingEnabled = false
          }
          this.innerHTML = taggingEnabled ? '<i class="fa fa-tag"></i>' : '<i class="fa fa-tag"></i>';
          return false
        }
        return div
      }
      toggleTaggingControl.addTo(map)
    
      // Function to handle modal display and setting coordinates upon tagging
      function handleLocationTagging(latlng) {
        Swal.fire({
          title: 'Do you want to tag this location?',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: 'Yes',
          denyButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('latitude').value = latlng.lat.toFixed(8)
                document.getElementById('longitude').value = latlng.lng.toFixed(8)
                $('#addAdaptorModal').modal('show')
              } else if (result.isDenied) {
                Swal.fire('Location not tagged', '', 'info')
              }
        })
      }
    
      // Remove the geocoder control
      var btn_search = document.getElementById('search-button')
      var search_input = document.getElementById('search-input') // Assuming the ID of the input field is "search-input"
    
      // Function to handle geocoding
      function searchAction() {
        var search_input_val = search_input.value
    
        // Perform geocoding using Nominatim (part of OpenStreetMap)
        fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + search_input_val)
          .then((response) => response.json())
          .then((data) => {
            if (data.length > 0) {
              var latlng = [data[0].lat, data[0].lon]
              var address = data[0].display_name
    
              // Log the address and coordinates
              console.log('Address:', address)
              console.log('Coordinates:', latlng)
    
                if (marker) {
                    marker.setLatLng(latlng).bindPopup(address).openPopup();
                } else {
                    // Change the marker icon to yellow
                    marker = L.marker(latlng, {
                        icon: L.icon({
                            iconUrl: '{% static "assets/css/images/marker-icon-yellow.png" %}',
                            shadowUrl: '{% static "assets/css/images/marker-shadow.png" %}'
                        })
                    }).addTo(map).bindPopup(address).openPopup();
                }
              // Optionally, zoom the map to the location and open the popup
              map.setView(latlng, 14)
              marker.openPopup()

              // Automatically enable tagging when a search is performed
              if (!taggingEnabled) {
                document.querySelector('.leaflet-control a').click(); // Simulate a click to toggle tagging
            }
            } else {
              // If address not found, display a Swal alert
              Swal.fire({
                icon: 'error',
                title: 'Address not found',
                text: 'Please try again with a different address.',
                confirmButtonText: 'OK'
              })
            }
          })
          .catch((error) => console.error('Error:', error))
      }
    
      // Event listener for the search button click
      btn_search.addEventListener('click', function () {
        searchAction()
      })
    
      // Event listener for pressing the Enter key in the input field
      search_input.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          searchAction()
        }
      })

      // Define grey icon
      var greyIcon = L.icon({
        iconUrl: '{% static "assets/css/images/marker-icon-grey.png" %}',
        shadowUrl: '{% static "assets/css/images/marker-shadow.png" %}',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });

      {% for adaptor in adaptors %}
        var adaptorMarker = L.marker([{{ adaptor.latitude }}, {{ adaptor.longitude }}], {icon: greyIcon}).addTo(map);

        adaptorMarker.on('click', function() {
          console.log("Adaptor Marker clicked");
          // Fill the modal with adaptor data
          $('#viewAdaptorModal #first_name').text('{{ adaptor.first_name|capfirst }}');
          $('#viewAdaptorModal #middle_name').text('{% if adaptor.middle_name %}{{ adaptor.middle_name|capfirst }} {% else %} - {% endif %} ');
          $('#viewAdaptorModal #last_name').text('{{ adaptor.last_name|capfirst }}');
          $('#viewAdaptorModal #email').text('{{ adaptor.email }}');
          $('#viewAdaptorModal #contact_num').text('{{ adaptor.contact_num }}');
          $('#viewAdaptorModal #date_birth').text('{{ adaptor.date_birth }}');
          $('#viewAdaptorModal #sex').text('{{ adaptor.sex|capfirst }}');
          $('#viewAdaptorModal #address').text('{{ adaptor.address|capfirst }}');
          $('#viewAdaptorModal #enterprise').text('{{ adaptor.enterprise|capfirst }}');
          $('#viewAdaptorModal #latitude').text('{{ adaptor.latitude }}');
          $('#viewAdaptorModal #longitude').text('{{ adaptor.longitude }}');
          $('#viewAdaptorModal #date_adapted').text('{{ adaptor.date_adapted }}');

          $('#viewAdaptorModal #technology').text('{% for tech in adaptor.technology.all %}{{ tech.tech_title|capfirst }}{% endfor %}');

          console.log('Adaptor details loaded for: {{ adaptor.first_name|capfirst }}');
          // Open the modal
          $('#viewAdaptorModal').modal('show');
        });
      {% endfor %}

      var searchMapContainer = document.getElementById('search-map')
      var adoptorListContainer = document.getElementById('adoptor-list')

      var techListBtn = document.getElementById('tech-list')

      var header = document.getElementById('head')

      searchMapContainer.style.display = 'block'
      adoptorListContainer.style.display = 'none'
      techListBtn.textContent = 'View Adoptor List'
      header.textContent = 'TECHNOLOGY ADOPTOR MAP'

      techListBtn.addEventListener('click', function () {
        if(searchMapContainer.style.display === 'block') {
          searchMapContainer.style.display = 'none'
          adoptorListContainer.style.display = 'block'
          techListBtn.textContent = 'View Adoptor Map'
          header.textContent = 'TECHNOLOGY ADOPTOR LIST'
        } else {
          searchMapContainer.style.display = 'block'
          adoptorListContainer.style.display = 'none'
          techListBtn.textContent = 'View Adoptor List'
          header.textContent = 'TECHNOLOGY ADOPTOR MAP'
        }
      })

      function hideAllTablesExcept(exceptTable) {
        var tables = [searchMapContainer, adoptorListContainer]
        tables.forEach(function (table) {
          if (table !== exceptTable) {
            table.style.display = 'none'
          }
        })
      }
    })

    $(document).ready(function () {
      let table = $('#adoptorsTable').DataTable({
        language: {
          lengthMenu: '_MENU_',
          search: '',
          searchPlaceholder: 'Search...'
        },
        lengthMenu: [
          [7, 10, 25, -1],
          [7, 10, 25, 'All']
        ],
        paging: true,
        lengthChange: true,
        autoWidth: false,
        bInfo: true,
        bSort: true,
        responsive: true,
        buttons: [
          {
            text: 'CSV',
            extend: 'csv'
          },
          {
            text: 'PDF',
            extend: 'pdf'
          }
        ],
        dom: '<"row"<"col-md-1"l><"col-md-8"B><"col-md-3"f>>' + '<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
      })
    })
  </script>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
