{% extends 'base/index.html' %}
{% load static %}

{% block title %}
  Request Additional Commodity
{% endblock %}

{% block stylesheet %}
  <!-- Add any additional stylesheets if needed -->
{% endblock %}

{% block content %}
  <br />
  <div class="main-content" id="main-content">
    <div class="container" style="background-color: #fff; min-height: 50vh;" >
      <br />
      <h3 style="font-weight:bold;">REQUEST ADDITIONAL COMMODITY</h3>
      <hr style="color: black;" />
      <div class="card-container">
        <form action="{% url 'general-additional' name='Commodity' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="commodity_name">Commodity Name:</label>
                <input type="text" class="form-control" id="commodity_name" name="commodity_name" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="resources_type">Resource Type:</label>
                <select id="resources_type" name="resources_type" class="form-control">
                  <option value="" disabled selected>Select Resources Type</option>
                  <option value="agriculture">Agriculture</option>
                  <option value="aquatic">Aquatic</option>
                  <option value="natural resources">Natural Resources</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
              </div>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="commodity_img">Image:</label>
                    <input type="file" class="form-control-file" id="commodity_img" name="commodity_img" required />
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Request</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
