.head-programs, .card-title {
    display: flex;
    justify-content: space-between;
    /* Aligns items to the start and end of the container */
    align-items: center;
    /* Centers items vertically */
}

.add-program-btn, .edit-program-btn, .delete-program-btn, .pagination-button{
    border-radius: 5px;
    /* Adds rounded corners to the button */
    background-color: #283739;
    /* Sets the background color to green */
    color: white;
    /* Sets the text color to white */
    padding: 2px 7px;
    /* Adds padding to the button */
    border: none;
    /* Removes the button border */
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: white;
    color: #283739;
    /* Change text color for better visibility */
    cursor: not-allowed;
    /* Change cursor to indicate it's not clickable */
    /* Add any additional styling for the disabled state */
  }

#program_description{
    height: 150px;
}

