{% extends 'base/index.html' %}
{% load social_share %}
{% load static %}
{% block title %}
  Resources
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/general.css/general.individual.resources.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    {% comment %} <div class="search-container">
      <form action="{% url 'general-search-resources' %}" method="POST" enctype="multipart/form-data" class="search-form" onsubmit="showLoadingSpinner()">
        {% csrf_token %}
        <div class="listResourcesType">
          {% for resource_type in resources_type %}
            <div class="checkbox-radio" style="display: inline-block; margin-right: 10px; ">
              <input type="checkbox" name="resource_type" id="resource_type_{{ forloop.counter }}" value="{{ resource_type }}" class="resource-type-tag" data-selected="true" onchange="handleRadioChange(this)" checked />
              <label for="resource_type_{{ forloop.counter }}" class="radio-inline">{{ resource_type|capfirst }}</label>
            </div>
          {% endfor %}
        </div>
        <div class="input-group mb-3 justify-content-center">
          <input type="text" style="width: 600px;" id="search-input" class="form-control search-input" name="contents" placeholder="What's in your mind?" oninput="showSuggestions()" />
          <!-- Suggestions Dropdown -->
          <div class="suggestions-container" id="suggestions-container"></div>
          <div class="input-group-append">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle search-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Knowledge Type</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="checkbox">
                  <label style="margin-left: 5px;"><input type="checkbox" name="knowledge" value="all" class="knowledge-tag" onchange="handleCheckboxChange(this)" checked /> All</label><br />
                </div>
                {% for knowledge in resources %}
                  {% if knowledge.status == 'Approved' %}
                    <div class="checkbox">
                      <label style="margin-left: 5px;"><input type="checkbox" name="knowledge" value="{{ knowledge.knowledge_id }}" class="knowledge-tag" onchange="handleCheckboxChange(this)" /> {{ knowledge.knowledge_title|capfirst }}</label><br />
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <button class="btn text-white" type="submit" style="background-color: #0C356A;  margin: 0px 0px 0px 10px; border-radius: 7px; border: none;">Search</button>
          </div>
        </div>
      </form>
    </div> {% endcomment %}

    <div class="content-container">
      <div class="row ">
        <div class="container">
          <p class="content-title">{{ resources_instance.resources_title|capfirst }}</p>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <span class="content-info">{{ resources_instance.date_created|date:'F j, Y' }}</span>
          <button class="btn btn-link content-info" onclick="handleReact('{{ resources_instance.resources_id }}', 'reactions')">
            <i class="fas fa-heart" title="React" style="color: #0C356A; "></i>
            <span>{{ resources_instance.reactions_count }}</span>
          </button>
          <a class="btn btn-link content-info" href="{% url 'view_pdf' id=resources_instance.resources_id %}" id="pdfLink" target="_blank" onclick="updateView('{{ resources_instance.resources_id }}', 'views')">
            <i class="fas fa-eye" title="View" style="color: #0C356A;  "></i>
            <span>{{ resources_instance.views_count }}</span>
          </a>
          <button class="btn btn-link dropdown-toggle-share content-info" type="button" id="shareDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-share-nodes" title="Share" style="color: #0C356A;"></i>
            <span style="text-decoration: none;">{{ resources_instance.shares_count }}</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="shareDropdown">
            <input type="text" id="absolute_url" name="url" value="{{ absolute_url }}" hidden />
            <button class="dropdown-item" id="copy_link" onclick="handleShare('{{ resources_instance.resources_id }}', 'shares')">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-copy" style="color: #0C356A;"></i>
                <span id="copyLinkButton" style="margin-left: 5px; color: #007BFF; text-decoration: none; cursor: pointer;">Copy Link</span>
              </div>
            </button>
            <button class="dropdown-item" onclick="handleShare('{{ resources_instance.resources_id }}', 'facebook')">
              <div style="display: flex; align-items: center;">
                <i class="fa-brands fa-facebook" style="color: #0C356A;"></i>
                <span class="link_url" style="margin-left: 5px;">{% post_to_facebook resources_instance.get_absolute_url 'Share to Facebook' %}</span>
              </div>
            </button>
            <button class="dropdown-item" onclick="handleShare('{{ resources_instance.resources_id }}', 'twitter')">
              <div style="display: flex; align-items: center;">
                <i class="fa-brands fa-twitter" style="color: #0C356A;"></i>
                <span class="link_url" style="margin-left: 5px;">{% post_to_twitter "Check this resources titled: '{{resources_instance.resources_title|capfirst}}'.Check it out!" object_or_url 'Post to Twitter' %}</span>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="description-contents">
            <p class="description" style="text-align: justify;">
              <span class="short-description">{{ resources_instance.resources_description|capfirst }}</span>
              <span class="full-description" style="display:none;">{{ resources_instance.resources_description|capfirst }}</span>
              {% comment %} <a href="javascript:void(0);" class="read-more">Read more</a> {% endcomment %}
            </p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="container d-flex">
          {% if user.is_authenticated %}
            <div class="card images-card">
              {% for knowledges in resources_instance.knowledge.all %}
                {% if knowledges.knowledge_title == 'Media' or knowledges.knowledge_title == 'Products' or knowledges.knowledge_title == 'Technologies' %}
                  <img class="media" src="{{ resources_instance.images.url }}" alt="{{ resources_instance.resources_title|capfirst }}" />
                {% elif knowledges.knowledge_title == 'Policies' or knowledges.knowledge_title == 'Projects' or knowledges.knowledge_title == 'Publications' or knowledges.knowledge_title == 'Flyers' or knowledges.knowledge_title == 'Books' %}
                  {% comment %} <iframe src="{% static 'resources_instance.file.url' %}" type="application/pdf" style="width:100%; height:100%; " frameborder="0" allowfullscreen></iframe> {% endcomment %}
                  <div id="pdfControls" style="padding: 10px; text-align: center;">
                    <button class="button-page" onclick="prevPage()" title="Previous Page"><i class="fa-regular fa-circle-left"></i></button>
                    <span id="currentPage"></span>
                    <button class="button-page" onclick="nextPage()" title="Next Page"><i class="fa-regular fa-circle-right"></i></button>
                  </div>
                  <div id="pdfViewer" style="width: 100%; height: 1100px; overflow: auto;"></div>
                {% elif knowledges.knowledge_title == 'News' %}
                  <img class="image" src="{% static 'media/News.jpg' %}" alt="{{ resources_instance.resources_title|capfirst }}" />
                {% elif knowledges.knowledge_title == 'Training/Seminars' or knowledges.knowledge_title == 'Events' %}
                  <img class="image" src="{% static 'media/Traning-Seminar.jpg' %}" alt="{{ resources_instance.resources_title|capfirst }}" />
                {% elif knowledges.knowledge_title == 'Webinars' %}
                <img class="image" src="{% static 'media/Webinar.jpg' %}" alt="{{ resources_instance.resources_title|capfirst }}" />
                {% elif knowledges.knowledge_title == 'Websites' %}
                <img class="image" src="{% static 'media/Website.jpg' %}" alt="{{ resources_instance.resources_title|capfirst }}" />
                {% elif knowledges.knowledge_title == 'Maps' %}
                <div class="map" id="map" style="height: 537px; width: 100%;"></div>
                <input type="text" id="title" value="{{resources_instance.resources_title}}" hidden>
                <input type="text" id="coordinates" value="{{resources_instance.latitude}},{{resources_instance.longitude}}" hidden>
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <div class="card justify-content-center" style="width: 75%; height: auto; margin-right: 5px;">
              <div class="card" style="width: 400px; margin-left: 225px;">
                <div class="card-header justify-content-center">KM4AANR</div>
                <div class="card-body justify-content-center">Explore our collection of knowledge resources on AANR</div>
                <div class="card-footer">
                  <a href="">REGISTER</a>
                  <a href="">LOGIN</a>
                </div>
              </div>
            </div>
          {% endif %}

          <div class="col">
            {% if user.is_authenticated %}
              <div class="card utilities">
                <div class="card-header">
                  <i class="fa-solid fa-screwdriver-wrench" style="color: black;"></i> <span class="utilities-name">Utilities</span>
                </div>
                <div class="card-body utilities-body">
                  <a class="section-link" style="color: #0C356A;" href="{% url 'general-download-file' id=resources_instance.resources_id %}" download onclick="handleDownload('{{ resources_instance.resources_id }}', 'downloads')"><i class="fas fa-download" title="Download"></i> 
                    <span class="utilities-name">Download</span></a>
                  <hr />
                  <a class="section-link" type="button" style="color: #818286;" onclick="bookmark('{{ resources_instance.resources_id }}', 'bookmark')">
                    {% if request.user in resources_instance.bookmark.all %}
                      <i class="fa-solid fa-bookmark" title="Bookmark" style="color: #818286;"></i> <span class="utilities-name">Bookmark</span>
                    {% else %}
                      <i class="fa-regular fa-bookmark" title="Bookmark"></i> <span class="utilities-name">Bookmark</span>
                    {% endif %}
                  </a>
                  <hr />
                  <a href="#" style="color: #818286;" class="dropdown-btn section-link">
                    <i class="fa-solid fa-tag" style="color: #818286; "></i> <span class="utilities-name">Tags</span> 
                    <i class="fa fa-caret-down" style="color: #818286; float: right;"></i>
                  </a>
                  <div class="dropdown-container" style="display: none; font-size: 12px;">
                    {% for cmis in resources_instance.cmi.all %}
                      <a class="dropdown-item" href="#" style="color: #818286; ">{{ cmis.cmi_name|capfirst }}</a>
                    {% endfor %}

                    {% for commodities in resources_instance.commodity.all %}
                      <a class="dropdown-item" href="#" style="color: #818286; ">{{ commodities.commodity_name|upper }}</a>
                    {% endfor %}

                    {% for knowledges in resources_instance.knowledge.all %}
                      <a class="dropdown-item" href="#" style="color: #818286; ">{{ knowledges.knowledge_title|upper }}</a>
                    {% endfor %}
                  </div>
                  <hr />
                  <a href="#" style="color: #818286;" class="dropdown-btn section-link">
                    <i class="fa-solid fa-lightbulb" style="color: #818286; "></i> <span class="utilities-name">Recommendations</span> 
                    <i class="fa fa-caret-down" style="color: #818286; float: right;"></i>
                  </a>
                  <div class="dropdown-container" style="display: none; font-size: 12px;">
                    {% for resource in similar_resources %}
                      <a class="dropdown-item" href="{% url 'general-individual-resources' id=resource.resources_id %}" style="color: #818286; ">{{ resource.resources_title|capfirst|truncatechars:29 }}</a>
                      {% empty %}
                      <div class="recommendations">No similar resources found.</div>
                    {% endfor %}
                  </div>
                  <hr />
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    {% if user.is_authenticated %}
        {% for knowledges in resources_instance.knowledge.all %}
            {% if knowledges.knowledge_title == 'Policies' or knowledges.knowledge_title == 'Projects' or knowledges.knowledge_title == 'Publications' or knowledges.knowledge_title == 'Flyers' or knowledges.knowledge_title == 'Books' %}
              let currentPageNumber = 1; // Variable to store current page number
              let pdfInstance = null; // Variable to store the PDF instance

              const pdfUrl = "{{ resources_instance.file.url }}";
              const pdfViewer = document.getElementById('pdfViewer');
              const pdfjsLib = window['pdfjs-dist/build/pdf'];

              pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.worker.min.js';

              // Function to initialize PDF viewer
              function initPDFViewer() {
                  pdfjsLib.getDocument(pdfUrl).promise.then(pdf => {
                      pdfInstance = pdf; // Store the PDF instance
                      for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
                          pdf.getPage(pageNumber).then(page => {
                              const scale = 1.3; // Adjust scale as needed
                              const viewport = page.getViewport({ scale });

                              const canvas = document.createElement('canvas');
                              const context = canvas.getContext('2d');
                              canvas.height = viewport.height;
                              canvas.width = viewport.width;

                              const renderContext = {
                                  canvasContext: context,
                                  viewport: viewport
                              };

                              pdfViewer.appendChild(canvas);

                              page.render(renderContext);
                          });
                      }
                      updatePageNumber(); // Call updatePageNumber() after initializing PDF viewer
                  });
              }

              // Function to navigate to previous page
              function prevPage() {
                  if (currentPageNumber > 1) {
                      currentPageNumber--;
                      renderPage(currentPageNumber);
                      updatePageNumber();
                  }
              }

              // Function to navigate to next page
              function nextPage() {
                  if (currentPageNumber < pdfInstance.numPages) {
                      currentPageNumber++;
                      renderPage(currentPageNumber);
                      updatePageNumber();
                  }
              }

              // Function to render a specific page with optional scale
              function renderPage(pageNumber, scale = 1.3) {
                  pdfInstance.getPage(pageNumber).then(page => {
                      const viewport = page.getViewport({ scale });

                      const canvas = pdfViewer.querySelector('canvas');
                      const context = canvas.getContext('2d');
                      canvas.height = viewport.height;
                      canvas.width = viewport.width;

                      const renderContext = {
                          canvasContext: context,
                          viewport: viewport
                      };

                      context.clearRect(0, 0, canvas.width, canvas.height); // Clear canvas before rendering
                      page.render(renderContext);
                  });
              }

              // Function to update the displayed page number
              function updatePageNumber() {
                  document.getElementById('currentPage').innerText = 'Page ' + currentPageNumber + ' of ' + pdfInstance.numPages;
              }

              // Initialize PDF viewer when the document is ready
              document.addEventListener('DOMContentLoaded', () => {
                  initPDFViewer();
              });
            {% endif %}
        {% endfor %}
    {% endif %}

    function handleDownload(id, actionType) {
      console.log('handle download')
      // Send AJAX request to the Django view
      $.ajax({
        url: '{% url "general-resources-updates" %}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: actionType
        }),
        success: function (data) {
          // Update the UI based on the response data
          console.log(data.message)
          console.log('Download count:', data.downloads_count)
    
          // Reload the page after a short delay
          setTimeout(function () {
            window.location.reload()
          }, 1000) // You can adjust the delay (in milliseconds) as needed
        },
        error: function (xhr, status, error) {
          console.error('Ajax request failed:', error)
        }
      })
    }
    
    function handleReact(id, actionType) {
      console.log('handle react')
      // Send AJAX request to the Django view
      $.ajax({
        url: '{% url "general-resources-updates" %}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: actionType
        }),
        success: function (data) {
          // Update the UI based on the response data
          console.log(data.message)
          console.log('React count:', data.reacts_count)
    
          // Reload the page after a short delay
          setTimeout(function () {
            window.location.reload()
          }, 1000) // You can adjust the delay (in milliseconds) as needed
        },
        error: function (xhr, status, error) {
          console.error('Ajax request failed:', error)
        }
      })
    }
    
    function handleShare(id, actionType) {
      if (actionType === 'shares') {
        // Get the text field
        var copyLink = document.getElementById('absolute_url')
        // Select the text field
        copyLink.select()
    
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyLink.value)
    
        // Display an alert for 2 seconds
        var successCopyAlert = document.getElementById('success_copy')
        successCopyAlert.style.display = 'block'
    
        // Hide the alert after 2 seconds
        setTimeout(function () {
          successCopyAlert.style.display = 'none'
        }, 2000)
      }
    
      // Rest of your code for AJAX request
      $.ajax({
        url: '{% url "general-resources-updates" %}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: actionType
        }),
        success: function (data) {
          // Update the UI based on the response data
          console.log(data.message)
          console.log('Share count:', data.shares_count)
    
          // Reload the page after a short delay (adjust the time as needed)
          setTimeout(function () {
            window.location.reload()
          }, 2000)
        },
        error: function (xhr, status, error) {
          console.error('Ajax request failed:', error)
        }
      })
    }
    
    function updateView(id, actionType) {
      // Send AJAX request to the Django view
      $.ajax({
        url: '{% url "general-resources-updates" %}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: actionType
        }),
        success: function (data) {
          // Update the UI based on the response data
          console.log(data.message)
          console.log('View count:', data.views_count)
    
          // Reload the page after a short delay
          setTimeout(function () {
            window.location.reload()
          }, 1000) // You can adjust the delay (in milliseconds) as needed
        },
        error: function (xhr, status, error) {
          console.error('Ajax request failed:', error)
        }
      })
    }
    
    function bookmark(id, actionType) {
      // Send AJAX request to the Django view
      $.ajax({
        url: '{% url "general-resources-updates" %}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: actionType
        }),
        success: function (data) {
          // Update the UI based on the response data
          console.log(data.message)
          console.log('Bookmark count:', data.bookmark_count)
    
          // Reload the page after a short delay
          setTimeout(function () {
            window.location.reload()
          }, 1000) // You can adjust the delay (in milliseconds) as needed
        },
        error: function (xhr, status, error) {
          console.error('Ajax request failed:', error)
        }
      })
    }
    
    // Function to add #toolbar=0 to the URL if not present
    function enforceToolbarParameter() {
      var pdfLink = document.getElementById('pdfLink')
      if (pdfLink) {
        var url = pdfLink.href
    
        // Check if the URL already contains #toolbar=0
        if (url.indexOf('#toolbar=0') === -1) {
          // Check if the parameter was previously added
          var toolbarAdded = localStorage.getItem('toolbarAdded')
    
          // If not added before, append #toolbar=0 to the URL
          if (!toolbarAdded) {
            pdfLink.href = url + '#toolbar=0'
            localStorage.setItem('toolbarAdded', 'true')
          }
        }
      }
    }
    
    function authenticateAlert() {
      var warningAlert = document.getElementById('warning')
    
      warningAlert.style.display = 'block'
    
      // Hide the alert after 2 seconds
      setTimeout(function () {
        warningAlert.style.display = 'none'
      }, 3000)
    }
    
    // Call the function on page load
    enforceToolbarParameter()
    
    document.addEventListener('DOMContentLoaded', function () {
      var readMoreLink = document.querySelector('.read-more')
      var shortDescription = document.querySelector('.short-description')
      var fullDescription = document.querySelector('.full-description')
    
      readMoreLink.addEventListener('click', function () {
        // Toggle visibility
        if (fullDescription.style.display === 'none') {
          fullDescription.style.display = 'inline'
          shortDescription.style.display = 'none'
          readMoreLink.innerText = 'Read less'
        } else {
          fullDescription.style.display = 'none'
          shortDescription.style.display = 'inline'
          readMoreLink.innerText = 'Read more'
        }
      })

      // Get coordinates from the input field
      var title = document.getElementById('title').value
      var coordinates = document.getElementById('coordinates').value.split(',');
      var latitude = parseFloat(coordinates[0]);
      var longitude = parseFloat(coordinates[1]);

      // Initialize the map
      var map = L.map('map', { zoomControl: false }).setView([latitude, longitude], 8);

      // OpenStreetMap tile layer
      var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
      }).addTo(map);

      // Google Streets and Hybrid layers
      const createGoogleLayer = (type) => {
          return L.tileLayer(`https://{s}.google.com/vt/lyrs=${type}&x={x}&y={y}&z={z}`, {
              maxZoom: 20,
              subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
          });
      };

      const googleStreets = createGoogleLayer('m');
      const googleHybrid = createGoogleLayer('s,h');

      // Add base maps to a control
      var baseMaps = {
          "OpenStreetMap": tileLayer,
          "Google Streets": googleStreets,
          "Google Hybrid": googleHybrid
      };

      L.control.layers(baseMaps).addTo(map);

      // Create a control with custom icons for zoom in and zoom out
      var zoomControl = L.control.zoom({
          position: 'topright',
          zoomInText: '+',
          zoomOutText: '-'
      });

      // Add the zoom control to the map
      map.addControl(zoomControl);

      // Add a marker at the specified coordinates
      L.marker([latitude, longitude]).addTo(map)
          .bindPopup('<b>Title: ' + title + '</b><br>Coordinates: ' + latitude + ',' + longitude)
          .openPopup();
    })
  </script>
{% endblock %}
