{% extends 'base/secretariat.html' %}
{% load static %}
{% block title %}
  Programs
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/secretariat.css/programs.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container">
      <div class="head-programs">
        <h2 style="font-weight: bolder;">Programs</h2>
        <button class="add-program-btn" data-toggle="modal" data-target="#addProgramModal">Add Program +</button>
      </div>
      <hr />
      <div>
        <label for="itemCount">Show:</label>
        <select id="itemCount" onchange="updateDisplay()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="all" hidden>All</option>
        </select>
      </div>

      <div class="row" id="programs-content">
        <div class="col-md-12" id="to_filter">
          <div class="programs">
            {% for program in programs %}
              <div class="program">
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="card-title">
                      <a href="{% url 'secretariat-projects-program' id=program.program_id %}" style="text-decoration: none; color: green; font-weight: bold; font-size: 20px;">{{ program.program_title|upper }}</a>
                    </div>
                    <hr />
                    <div>
                      <p style="text-align: justify;">{{ program.program_description|capfirst }}</p>
                    </div>
                    <div>
                      <span style="display: block;"><span style="font-weight: bold;">Projects:</span> {{ program.total_projects_count }}</span>
                      <span style="display: block;">
                        <span style="font-weight: bold;">Budget:</span>
                        {% if program.total_downloaded_budget %}
                          &#8369; {{ program.total_downloaded_budget }}
                        {% else %}
                          &#8369; 0
                        {% endif %}
                      </span>
                    </div>
                    <hr />
                    <div class="buttons">
                      <button type="button" class="edit-program-btn" data-toggle="modal" data-target="#editProgramModal{{ program.program_id }}">Edit</button>
                      <a href="{% url 'secretariat-delete-program' id=program.program_id %}" type="button" class="delete-program-btn" style="text-decoration: none; color: white;">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              {% include 'accounts/secretariat/modals/programsModal/edit_program.html' %}
            {% endfor %}
          </div>
        </div>
        <div class="pagination" style="width: 100%; display: flex; justify-content: center; color: black;">
          <button class="pagination-button" id="backBtn" onclick="movePage('back')" style="margin-right: 5px; color: black; background-color: #ADBC9F;">BACK</button>
          <button class="pagination-button" id="nextBtn" onclick="movePage('next')" style="background-color: #ADBC9F; color: black;">NEXT</button>
        </div>
        {% comment %} <div class="col-md-3">
          <div class="analytics">
            <div class="card" style="height: 170px;">
              <span>Total Programs: {{ total_programs }}</span>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>

  {% include 'accounts/secretariat/modals/programsModal/add_program.html' %}
{% endblock %}

{% block script %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}

  <script>
    var currentPage = 1
    
    function updateDisplay() {
      postDisplay = parseInt(document.getElementById('itemCount').value)
      showPosts()
    }
    
    function movePage(direction) {
      switch (direction) {
        case 'back':
          if (currentPage > 1) {
            currentPage--
            showPosts()
          }
          break
        case 'next':
          currentPage++
          showPosts()
          break
        default:
          break
      }
    }
    
    function showPosts() {
      var posts = document.querySelectorAll('#to_filter .program')
      var totalPosts = posts.length
    
      posts.forEach(function (post, index) {
        switch (true) {
          case postDisplay === 'all':
            post.style.display = 'block'
            break
          case index >= (currentPage - 1) * postDisplay && index < currentPage * postDisplay:
            post.style.display = 'block'
            break
          default:
            post.style.display = 'none'
            break
        }
      })
    
      switch (true) {
        case postDisplay === 'all':
          document.getElementById('backBtn').disabled = true
          document.getElementById('nextBtn').disabled = true
          console.log('All Post displayed successfully')
          break
        default:
          document.getElementById('backBtn').disabled = currentPage === 1
          document.getElementById('nextBtn').disabled = currentPage * postDisplay >= totalPosts
          break
      }
    
      // Log additional information for debugging
      console.log('totalPosts:', totalPosts)
      console.log('postDisplay:', postDisplay)
    }
    
    // Call updateDisplay function on page load to set the default value
    window.onload = function () {
      updateDisplay() // Call the function to update the displayed posts based on the initial selected value
    }
  </script>
{% endblock %}
