{% extends 'base/secretariat.html' %}
{% load static %}
{% block title %}
  Secretariat Home
{% endblock %}
<style></style>
{% block stylesheet %}

{% endblock %}

{% block content %}
  <br />
  <div class="main-content">
    <div class="container">
      <h3 style="font-weight: bold;">CALENDAR OF SCHEDULE</h3>
      <div class="button-container">
        <!-- Button to display the modal -->
        <button type="button" class="btn btn-primary" id="showMonthlyEventsModal">Monthly Events Summary</button>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="border-radius: 10px; ">
            <div class="card-body">
              <!-- <h4 class="box-title">Chandler</h4> -->
              <div class="calender-cont widget-calender">
                <div id="calendar" style="font: white; "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- calendar modal -->
      {% include 'accounts/secretariat/modals/home/calendar.html' %}
      {% include 'accounts/secretariat/modals/home/summary.html' %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      var calendar = $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'year,month,agendaWeek,agendaDay'
        },
        events: '{% url "all_events" %}',
        selectable: true,
        droppable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        displayEventTime: false,
        textColor: 'black', // Default text color for the header
        eventTextColor: 'black', // Set the event text color to white
        eventBackgroundColor: '#CCCCCC',
        eventColor: '#8B8B8B',
        select: function (start, end, allDay) {
          $('#eventStart').val(start.format('YYYY-MM-DD'))
          $('#eventEnd').val(end.format('YYYY-MM-DD'))
          $('#eventModal').modal('show')
    
          $('#saveEvent').on('click', function () {
            var title = $('#eventTitle').val()
            var start = $('#eventStart').val()
            var end = $('#eventEnd').val()
    
            $.ajax({
              type: 'GET',
              url: '{% url "add_event" %}',
              data: { title: title, start: start, end: end },
              dataType: 'json',
              success: function (data) {
                calendar.fullCalendar('refetchEvents')
                $('#eventModal').modal('hide')
                Swal.fire({
                  icon: 'success',
                  title: 'Event added successfully!',
                  showConfirmButton: true
                }).then((result) => {
                  if (result.isConfirmed) {
                    location.reload() // Refresh the page
                  }
                })
              },
              error: function (data) {
                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'There is a problem!!!'
                })
              }
            })
          })
        },
        eventResize: function (event) {
          var start = $.fullCalendar.formatDate(event.start, 'Y-MM-DD')
          var end = $.fullCalendar.formatDate(event.end, 'Y-MM-DD')
          var title = event.title
          var id = event.id
          $.ajax({
            type: 'GET',
            url: '{% url "update" %}',
            data: { title: title, start: start, end: end, id: id },
            dataType: 'json',
            success: function (data) {
              Swal.fire({
                icon: 'success',
                title: 'Event updated successfully!',
                showConfirmButton: true
              }).then((result) => {
                if (result.isConfirmed) {
                  calendar.fullCalendar('refetchEvents')
                  location.reload() // Refresh the page
                }
              })
            },
            error: function (data) {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'There is a problem!!!'
              })
            }
          })
        },
    
        eventDrop: function (event) {
          var start = $.fullCalendar.formatDate(event.start, 'Y-MM-DD')
          var end = $.fullCalendar.formatDate(event.end, 'Y-MM-DD')
          var title = event.title
          var id = event.id
          $.ajax({
            type: 'GET',
            url: '{% url "update" %}',
            data: { title: title, start: start, end: end, id: id },
            dataType: 'json',
            success: function (data) {
              Swal.fire({
                icon: 'success',
                title: 'Event updated successfully!',
                showConfirmButton: true
              }).then((result) => {
                if (result.isConfirmed) {
                  calendar.fullCalendar('refetchEvents')
                  location.reload() // Refresh the page
                }
              })
            },
            error: function (data) {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'There is a problem!!!'
              })
            }
          })
        },
    
        eventClick: function (event) {
          Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, remove it!'
          }).then((result) => {
              if (result.isConfirmed) {
                  var id = event.id;
                  $.ajax({
                      type: 'GET',
                      url: '{% url "remove" %}',
                      data: { id: id },
                      dataType: 'json',
                      success: function (data) {
                          Swal.fire({
                              icon: 'success',
                              title: 'Event removed successfully!',
                              showConfirmButton: true
                          }).then((result) => {
                              if (result.isConfirmed) {
                                  calendar.fullCalendar('refetchEvents');
                                  location.reload() // Refresh the page
                              }
                          });
                      },
                      error: function (data) {
                          Swal.fire({
                              icon: 'error',
                              title: 'Error',
                              text: 'There is a problem!!!'
                          });
                      }
                  });
              }
          });
        }
      })
    })
    
    $(document).ready(function () {
      // Function to convert events to CSV format
      function convertToCSV(events) {
        var currentDate = new Date();
        var currentMonth = currentDate.toLocaleString('default', { month: 'long' });
        var csv = currentMonth.toUpperCase() + ' CALENDAR SCHEDULES\n\nEvent, Start, End\n';
        events.forEach(function (event) {
            // Format the start and end dates in a suitable format
            var startDate = new Date(event.start);
            var endDate = new Date(event.end);
            var formattedStartDate = ('0' + (startDate.getMonth() + 1)).slice(-2) + '/' + ('0' + startDate.getDate()).slice(-2) + '/' + startDate.getFullYear();
            var formattedEndDate = ('0' + (endDate.getMonth() + 1)).slice(-2) + '/' + ('0' + endDate.getDate()).slice(-2) + '/' + endDate.getFullYear();
            
            csv += event.name + ', ' + formattedStartDate + ', ' + formattedEndDate + '\n';
        });
        return csv;
      }


      // Show the modal when clicked on the button
$('#showMonthlyEventsModal').click(function () {
  // Clear existing events
  $('#monthlyEventsList').empty();

  // Fetch and display monthly events
  fetchMonthlyEvents();
});

// Function to fetch and display monthly events
function fetchMonthlyEvents() {
  $.ajax({
      type: 'GET',
      url: '{% url "all_events" %}',
      dataType: 'json',
      success: function (events) {
          // Sort events based on start date
          events.sort(function (a, b) {
              return new Date(a.start) - new Date(b.start);
          });

          // Get current month and year
          var currentDate = new Date();
          var currentMonth = currentDate.getMonth() + 1; // Note: January is 0, so we add 1
          var currentYear = currentDate.getFullYear();

          // Loop through events
          events.forEach(function (event) {
              // Get event start and end dates
              var startDate = new Date(event.start);
              var endDate = new Date(event.end);

              // Check if event is within the current month
              if (startDate.getMonth() + 1 === currentMonth && startDate.getFullYear() === currentYear) {
                  // Add event details to modal body
                  $('#monthlyEventsList').append('<li>' + event.title + ' <br> ' + startDate.toLocaleDateString() + ' to ' + endDate.toLocaleDateString() + '</li>');
                  $('#monthlyEventsList').append('<hr>'); // Add <hr> separator
              }
          });

          // Show the modal
          $('#monthlyEventsModal').modal('show');
      },
      error: function (data) {
          console.error('Error fetching monthly events:', data);
      }
  });
}

  
      // Handle CSV export button click
      $('#exportCSV').click(function () {
        // Get current month and year
        var currentDate = new Date();
        var currentMonth = currentDate.getMonth() + 1; // Note: January is 0, so we add 1
        var currentYear = currentDate.getFullYear();

        // Filter events for the current month
        var currentMonthEvents = [];
        {% for event in events %}
            var startDate = new Date('{{ event.start }}');
            if (startDate.getMonth() + 1 === currentMonth && startDate.getFullYear() === currentYear) {
                currentMonthEvents.push({
                    name: '{{ event.name }}',
                    start: '{{ event.start }}',
                    end: '{{ event.end }}'
                });
            }
        {% endfor %}

        // Convert events to CSV format
        var csvContent = convertToCSV(currentMonthEvents);

        // Create a Blob containing the CSV data
        var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8' });

        // Create a temporary anchor element to trigger the download
        var downloadLink = document.createElement('a');
        downloadLink.href = URL.createObjectURL(blob);
        downloadLink.download = 'events.csv';

        // Trigger the download
        document.body.appendChild(downloadLink);
        downloadLink.click();

        // Clean up
        document.body.removeChild(downloadLink);
      });
    
      $('#print').click(function () {
        $('#monthlyEventsModal').modal('hide');
    
        setTimeout(function () {
            window.print();
        }, 2000); // 2000 milliseconds = 2 seconds
      });
    });
  
  </script>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
