

<!-- View resources modal -->
<div id="viewResourcesModal{{ resource.resources_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewResourcesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0C356A;">
        <h5 class="modal-title text-white" id="viewResourcesModalLabel" style="font-weight: bolder;">Resources Information</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="resources_title" class="font-weight-bold">Resources Title</label>
          <div class="resources_title" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">{{ resource.resources_title|capfirst }}</div>
        </div>
        <div class="form-group">
          <label for="resources_description" class="font-weight-bold">Resources Description</label>
          <div class="resources_description" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">{{ resource.resources_description|capfirst }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="commodity" class="font-weight-bold">Commodity</label>
              <div class="commodity" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                {% for commodities in resource.commodity.all %}
                  <span style="background-color: #7BD3EA; padding: 0 7px; color: black; font-weight: bold; border-radius: 4px;">{{ commodities.commodity_name|capfirst }}</span>
                  <br />
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="cmi" class="font-weight-bold">CMI</label>
              <div class="cmi" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                {% for cmis in resource.cmi.all %}
                  <span style="background-color: #7BD3EA; padding: 0 7px; color: black; font-weight: bold; border-radius: 4px;">{{ cmis.cmi_name|capfirst }}</span>
                  <br />
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="resources" class="font-weight-bold">Knowledge Resources</label>
              <div class="resources" style="width: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                {% for knowledges in resource.knowledge.all %}
                  <span style="background-color: #7BD3EA; padding: 0 7px; color: black; font-weight: bold; border-radius: 4px;">{{ knowledges.knowledge_title|capfirst }}</span>
                  <br />
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <hr />

        {% for knowledges in resource.knowledge.all %}
          {% if knowledges.knowledge_title == 'Maps' %}
            <!-- coordinates -->
            <div class="row" id="coordinates">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="latitude" class="font-weight-bold">Latitude</label>
                  <div id="latitude" name="latitude" class="form-control">{{ resource.latitude }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="longitude" class="font-weight-bold">Longitude</label>
                  <div id="longitude" name="longitude" class="form-control">{{ resource.longitude }}</div>
                </div>
              </div>
            </div>
            <!-- farm and contact number -->
            <div class="row" id="farm_contact">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="farm" class="font-weight-bold">Farm</label>
                  <div id="farm" name="farm" class="form-control">{{ resource.farm }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contact_num" class="font-weight-bold">Contact Number</label>
                  <div id="contact_num" name="contact_num" class="form-control">{{ resource.contact_num }}</div>
                </div>
              </div>
            </div>
          {% elif knowledges.knowledge_title == 'Websites' %}
            <label class="font-weight-bold">Links</label>
            <ul>
              <li>
                <a href="{{ resource.link }}">{{ resource.resources_title|capfirst }}</a>
              </li>
            </ul>
          {% elif knowledges.knowledge_title == 'Policies' or knowledges.knowledge_title == 'Projects' or knowledges.knowledge_title == 'Publications' or knowledges.knowledge_title == 'Flyers' %}
            <label class="font-weight-bold">Documents</label>
            <ul>
              <li>
                <a href="{% url 'view_pdf' id=resource.resources_id %}" target="_blank">{{ resource.resources_title|capfirst }}</a>
              </li>
            </ul>
          {% elif knowledges.knowledge_title == 'Media' or knowledges.knowledge_title == 'Products' or knowledges.knowledge_title == 'Technology' %}
            {% if resource.images %}
              <img class="card-img-top mx-auto d-block" src="{{ resource.images.url }}" alt="{{ resource.resources_title|capfirst }}" style="height: 400px; width: 400px;" />
            {% else %}
              <span style="font-weight: bold; text-align: center;">No Image Available</span>
            {% endif %}
          {% elif knowledges.knowledge_title == 'Training/Seminars' or knowledges.knowledge_title == 'Events' %}
            <div class="row">
              <div class="col-md-3" id="trainings">
                <div class="form-group">
                  <label for="training_date" class="font-weight-bold">Training Date:</label>
                  <div id="training_date" class="form-control">{{ resource.training_date }}</div>
                </div>
              </div>
              <!-- venue -->
              <div class="col-md-9" id="training_venue">
                <div class="form-group">
                  <label for="link" class="font-weight-bold">Venue:</label>
                  <div id="venue" class="form-control">{{ resource.venue }}</div>
                </div>
              </div>
            </div>
          {% elif knowledges.knowledge_title == 'Webinar' %}
            <div class="row">
              <div class="col-md-3" id="trainings">
                <div class="form-group">
                  <label for="training_date" class="font-weight-bold">Training Date:</label>
                  <div id="training_date" class="form-control">{{ resource.training_date }}</div>
                </div>
              </div>

              <!-- Link div -->
              <div class="col-md-9" id="link">
                <div class="form-group">
                  <label for="link" class="font-weight-bold">Link</label>
                  <div id="link" class="form-control">{{ resource.link }}</div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="col-md-12" id="link">
              <div class="form-group">
                <span>No Data</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
