{% extends 'base/admin.html' %}
{% load static %}
{% block title %}
  Admin Search Management
{% endblock %}
{% block stylesheet %}

  <link rel="stylesheet" href="{% static 'style/admin.css/admin.commodities.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content" id="main-content">
    <div class="container">
      <h3 style="font-weight:bold;">ADMIN SEARCHED MANAGEMENT</h3>
      <a href="{% url "admin-discussion" %}"><i class="fa-solid fa-arrow-left"></i> Forum</a>
      <hr style="color: black;" />
      <div class="card-container">
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="icon-pencil primary font-large-2 float-left"></i>
                    </div>
                    <div class="media-body text-right" style="height: 58px;">
                      <h3 style="text-decoration: underline;">{{ top_searched_term|upper }}</h3>
                      <span>Top Search Term</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="icon-speech warning font-large-2 float-left"></i>
                    </div>
                    <div class="media-body text-right" style="height: 58px;">
                      <h3 style="text-decoration: underline;">{{ admin_total_frequency }}</h3>
                      <span>Total Search</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="button-container-head">
        <a href="{% url 'admin-reaction' %}" id="approved-data-button" style="background-color: #0C356A; color: #fff; border: 0; border-radius: 3px; padding: 5px; font-weight: bold;">Reactions Analytics</a>
        <a href="{% url 'admin-comment' %}" id="approved-data-button" style="background-color: #0C356A; color: #fff; border: 0; border-radius: 3px; padding: 5px; font-weight: bold;">Comments Analytics</a>
      </div>
      <hr />
      <div class="chart-div" style="border: #0174BE 1px solid; border-radius: 5px; margin-top: 10px;">
        <canvas id="mostSearchedTermsChart"></canvas>
      </div>
      <br>
      <div class="table-container">
        <table id="searchedTable" class="searched-table table table-bordered">
          <thead style="color: #fff; font-size: 13px; background-color: #0C356A; font-weight: bolder;">
            <tr>
              <th>Term</th>
              <th style="width: fit-content;">Total Searched</th>
              <th>Date Searched</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px;">
            {% for search in searchs %}
              <tr>
                <td>{{ search.search_term|capfirst }}</td>
                <td>{{ search.frequency }}</td>
                <td>{{ search.date_searched }}</td>
                <td>
                  <a data-placement="top" data-toggle="tooltip" title="delete" href="/delete-search/{{ search.search_id }}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
  <script>
    // Get the ranked_terms_json data from the context
    const ranked_terms_json = '{{ ranked_terms_json|safe }}';
    const ranked_terms = JSON.parse(ranked_terms_json);

    // Extract the search terms and their total frequencies
    const terms = ranked_terms.map(term => term.search_term.charAt(0).toUpperCase() + term.search_term.slice(1));
    const frequencies = ranked_terms.map(term => term.total_frequency);

    // Create a new Chart object
    const mostSearchedTermsChart = new Chart(document.getElementById('mostSearchedTermsChart'), {
      type: 'bar',
      data: {
        labels: terms,
        datasets: [{
          label: 'Total Frequency',
          data: frequencies,
          backgroundColor: '#0C356A',
          borderColor: '#0C356A',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        // Add this part for left axis
        plugins: {
          title: {
            display: true,
            text: 'Count',
            position: 'left' // Display on the left side of the chart
          }
        }
      }
    });

    $(document).ready(function () {
      let table = $('#searchedTable').DataTable({
        language: {
          lengthMenu: '_MENU_',
          search: '',
          searchPlaceholder: 'Search...'
        },
        lengthMenu: [
          [3, 5, 7, 10, 25, -1],
          [3, 5, 7, 10, 25, 'All']
        ],
        paging: true,
        lengthChange: true,
        autoWidth: false,
        bInfo: true,
        bSort: true,
        responsive: true,
        buttons: [
          {
            text: 'CSV',
            extend: 'csv'
          },
          {
            text: 'PDF',
            extend: 'pdf'
          },
          
        ],
        dom: '<"row"<"col-md-1"l><"col-md-8"B><"col-md-3"f>>' + '<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
      })
    })
  </script>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}'
          })
        </script>
        {% else %}
        <script>
          // Display SweetAlert success message
          Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '{{ message }}'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
