{% extends 'base/admin.html' %}
{% load static %}
{% block title %}
  Admin Carousel Management
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'style/admin.css/admin.commodities.css' %}" />
{% endblock %}

{% block content %}
  <br />
  <div class="main-content" id="main-content">
    <div class="container">
      <h3 style="font-weight:bold;">ADMIN CAROUSEL MANAGEMENT</h3>
      <hr style="color: black;" />
      
      <div class="table-container">
        <table id="carouselTable" class="carousel-table table table-bordered">
          <thead style="color: #fff; font-size: 13px; background-color: #0C356A; font-weight: bolder;">
            <tr>
              <th>ID</th>
              <th>Alt</th>
              <th>Path</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px;">
            {% for carousel in carousels %}
              <tr>
                <td>{{ carousel.carousel_id }}</td>
                <td>{{ carousel.alt }}</td>
                <td>{{ carousel.img_path }}</td>
                <td>
                  <div style="display: flex;">
                    <button type="button" title="View" style="background-color: #FFC436; color: #fff; margin-right: 4px;" class="btn btn-sm view-btn" data-toggle="modal" data-target="#viewCarouselModal{{ carousel.carousel_id }}"><i class="fa-solid fa-eye"></i></button> 
                    <a data-placement="top" data-toggle="tooltip" title="Delete" href="{% url 'admin-delete-carousel' id=carousel.carousel_id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                  </div>
                </td>
              </tr>
              {% include 'accounts/admin/modals/carousel/view_carousel.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'accounts/admin/modals/carousel/add_carousel.html' %}
{% endblock %}

{% block script %}
{% if messages %}
{% for message in messages %}
  {% if message.tags == 'success' %}
    <script>
      // Display SweetAlert success message
      Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: '{{ message }}'
      })
    </script>
    {% else %}
    <script>
      // Display SweetAlert success message
      Swal.fire({
        icon: 'error',
        title: 'Error!',
        text: '{{ message }}'
      })
    </script>
  {% endif %}
{% endfor %}
{% endif %}
  <script>
    //add Carousel modal
    function addCarousel() {
      // Logic to handle adding data goes here
      console.log('Add Data button clicked')
      // Add your logic here for adding data
      $('#addCarouselModal').modal('show')
    }
    $(document).ready(function () {
      let table = $('#carouselTable').DataTable({
        language: {
          lengthMenu: '_MENU_',
          search: '',
          searchPlaceholder: 'Search...'
        },
        lengthMenu: [
          [7, 10, 25, -1],
          [7, 10, 25, 'All']
        ],
        paging: true,
        lengthChange: true,
        autoWidth: false,
        bInfo: true,
        bSort: true,
        responsive: true,
        buttons: [
          {
            text: 'CSV',
            extend: 'csv'
          },
          {
            text: 'PDF',
            extend: 'pdf'
          },
          {
            text: 'ADD',
            className: 'btn btn-primary',
            action: function () {
                addCarousel()
            }
          }
        ],
        dom: '<"row"<"col-md-1"l><"col-md-8"B><"col-md-3"f>>' + '<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
      })
    })
  </script>
{% endblock %}
